dify-workflows/claims-main-workflow-stage4.yml
app:
  description: "电商理赔自动处理系统主工作流 Stage 1 + 3.3 + 3.4/3.5 + 3.6：数据拉取、知识检索、双助手并行推理、合议中心与单次文案生成校验。"
  icon: "🧾"
  icon_type: emoji
  icon_background: "#E8F5E9"
  mode: workflow
  name: 理赔主工作流
  use_icon_as_answer_icon: false

kind: app
version: 0.6.0
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 5000
        batch_count_limit: 50
        file_size_limit: 1024
        image_file_size_limit: 1000
        video_file_size_limit: 10000
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 10
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 10
    opening_statement: ""
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: code
        id: start-source-extract_id-target
        source: start
        sourceHandle: source
        target: extract_id
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: if-else
        id: extract_id-source-check_valid-target
        source: extract_id
        sourceHandle: source
        target: check_valid
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: end
        id: check_valid-false-end_invalid-target
        source: check_valid
        sourceHandle: "false"
        target: end_invalid
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: code
        id: check_valid-true-generate_claim_id-target
        source: check_valid
        sourceHandle: "true"
        target: generate_claim_id
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: http-request
        id: generate_claim_id-source-state_create-target
        source: generate_claim_id
        sourceHandle: source
        target: state_create
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: state_create-source-parse_state_create-target
        source: state_create
        sourceHandle: source
        target: parse_state_create
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: if-else
        id: parse_state_create-source-check_duplicate-target
        source: parse_state_create
        sourceHandle: source
        target: check_duplicate
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: end
        id: check_duplicate-true-end_duplicate-target
        source: check_duplicate
        sourceHandle: "true"
        target: end_duplicate
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_order_amount-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_order_amount
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_claim_count-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_claim_count
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_static_risk-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_static_risk
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_logistics_type-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_logistics_type
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_order_category-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_order_category
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_biz_stats-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_biz_stats
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_vision_classify-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_vision_classify
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_fast_lane_count-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_fast_lane_count
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_order_amount-source-assemble_stage1-target
        source: http_order_amount
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_claim_count-source-assemble_stage1-target
        source: http_claim_count
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_static_risk-source-assemble_stage1-target
        source: http_static_risk
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_logistics_type-source-assemble_stage1-target
        source: http_logistics_type
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_order_category-source-assemble_stage1-target
        source: http_order_category
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_biz_stats-source-assemble_stage1-target
        source: http_biz_stats
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_vision_classify-source-assemble_stage1-target
        source: http_vision_classify
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_fast_lane_count-source-assemble_stage1-target
        source: http_fast_lane_count
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: if-else
        id: assemble_stage1-source-check_fast_lane-target
        source: assemble_stage1
        sourceHandle: source
        target: check_fast_lane
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: code
        id: check_fast_lane-true-consensus_fast_lane-target
        source: check_fast_lane
        sourceHandle: "true"
        target: consensus_fast_lane
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: if-else
        id: check_fast_lane-false-check_retrieval_band-target
        source: check_fast_lane
        sourceHandle: "false"
        target: check_retrieval_band
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: llm
        id: consensus_fast_lane-source-copy_generator_fast_lane-target
        source: consensus_fast_lane
        sourceHandle: source
        target: copy_generator_fast_lane
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: code
        id: copy_generator_fast_lane-source-validate_copy_fast_lane-target
        source: copy_generator_fast_lane
        sourceHandle: source
        target: validate_copy_fast_lane
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: end
        id: validate_copy_fast_lane-source-end_fast_lane-target
        source: validate_copy_fast_lane
        sourceHandle: source
        target: end_fast_lane
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: knowledge-retrieval
        id: check_retrieval_band-true-retrieve_error_patterns_healthy-target
        source: check_retrieval_band
        sourceHandle: "true"
        target: retrieve_error_patterns_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: knowledge-retrieval
          targetType: knowledge-retrieval
        id: retrieve_error_patterns_healthy-source-retrieve_similar_cases_healthy-target
        source: retrieve_error_patterns_healthy
        sourceHandle: source
        target: retrieve_similar_cases_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: knowledge-retrieval
          targetType: code
        id: retrieve_similar_cases_healthy-source-pack_retrieval_healthy-target
        source: retrieve_similar_cases_healthy
        sourceHandle: source
        target: pack_retrieval_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: llm
        id: pack_retrieval_healthy-source-claim_assistant_healthy-target
        source: pack_retrieval_healthy
        sourceHandle: source
        target: claim_assistant_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: llm
        id: pack_retrieval_healthy-source-risk_assistant_healthy-target
        source: pack_retrieval_healthy
        sourceHandle: source
        target: risk_assistant_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: code
        id: claim_assistant_healthy-source-pack_assistants_healthy-target
        source: claim_assistant_healthy
        sourceHandle: source
        target: pack_assistants_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: code
        id: risk_assistant_healthy-source-pack_assistants_healthy-target
        source: risk_assistant_healthy
        sourceHandle: source
        target: pack_assistants_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: code
        id: pack_assistants_healthy-source-consensus_healthy-target
        source: pack_assistants_healthy
        sourceHandle: source
        target: consensus_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: llm
        id: consensus_healthy-source-copy_generator_healthy-target
        source: consensus_healthy
        sourceHandle: source
        target: copy_generator_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: code
        id: copy_generator_healthy-source-validate_copy_healthy-target
        source: copy_generator_healthy
        sourceHandle: source
        target: validate_copy_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: end
        id: validate_copy_healthy-source-end_retrieval_healthy-target
        source: validate_copy_healthy
        sourceHandle: source
        target: end_retrieval_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: knowledge-retrieval
        id: check_retrieval_band-false-retrieve_error_patterns_degraded-target
        source: check_retrieval_band
        sourceHandle: "false"
        target: retrieve_error_patterns_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: knowledge-retrieval
          targetType: knowledge-retrieval
        id: retrieve_error_patterns_degraded-source-retrieve_similar_cases_degraded-target
        source: retrieve_error_patterns_degraded
        sourceHandle: source
        target: retrieve_similar_cases_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: knowledge-retrieval
          targetType: code
        id: retrieve_similar_cases_degraded-source-pack_retrieval_degraded-target
        source: retrieve_similar_cases_degraded
        sourceHandle: source
        target: pack_retrieval_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: llm
        id: pack_retrieval_degraded-source-claim_assistant_degraded-target
        source: pack_retrieval_degraded
        sourceHandle: source
        target: claim_assistant_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: llm
        id: pack_retrieval_degraded-source-risk_assistant_degraded-target
        source: pack_retrieval_degraded
        sourceHandle: source
        target: risk_assistant_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: code
        id: claim_assistant_degraded-source-pack_assistants_degraded-target
        source: claim_assistant_degraded
        sourceHandle: source
        target: pack_assistants_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: code
        id: risk_assistant_degraded-source-pack_assistants_degraded-target
        source: risk_assistant_degraded
        sourceHandle: source
        target: pack_assistants_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: code
        id: pack_assistants_degraded-source-consensus_degraded-target
        source: pack_assistants_degraded
        sourceHandle: source
        target: consensus_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: llm
        id: consensus_degraded-source-copy_generator_degraded-target
        source: consensus_degraded
        sourceHandle: source
        target: copy_generator_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: code
        id: copy_generator_degraded-source-validate_copy_degraded-target
        source: copy_generator_degraded
        sourceHandle: source
        target: validate_copy_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: end
        id: validate_copy_degraded-source-end_retrieval_degraded-target
        source: validate_copy_degraded
        sourceHandle: source
        target: end_retrieval_degraded
        targetHandle: target
        type: custom
        zIndex: 0

    nodes:
      - data:
          desc: "输入用户理赔描述与材料文件列表。file_list 使用 JSON 字符串，例如 [{\"name\":\"订单截图.png\"}]。"
          selected: false
          title: 开始
          type: start
          variables:
            - label: 用户描述
              max_length: 4096
              options: []
              required: true
              type: paragraph
              variable: user_text
            - label: 材料文件JSON
              max_length: 4096
              options: []
              required: false
              type: paragraph
              variable: file_list
        height: 110
        id: start
        position:
          x: 80
          y: 320
        positionAbsolute:
          x: 80
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          model:
            provider: langgenius/deepseek/deepseek
            name: deepseek-v4-flash
            mode: chat
            completion_params:
              temperature: 0.3
              thinking: false
          prompt_template:
            - role: system
              text: |
                你是电商理赔客服文案助手。根据合议中心上下文生成面向用户的理赔结果文案。

                合议上下文：
                {{#consensus_healthy.copy_context#}}

                输出严格 JSON，不要包裹 markdown：
                {
                  "user_message": "...",
                  "tone": "friendly",
                  "summary": "...",
                  "next_step": "..."
                }

                约束：
                - 语气克制、礼貌、具体。
                - approve 时说明赔付金额和处理时效。
                - manual_review 时说明进入人工复核，不承诺最终结果。
                - reject 时说明核心原因和申诉入口。
                - 不得出现绝对化承诺。
              id: prompt-copy-healthy
              edition_type: basic
          context:
            enabled: true
            variable_selector:
              - consensus_healthy
              - copy_context
          vision:
            enabled: false
          type: llm
          title: 文案生成（健康）
          selected: false
          structured_output_enabled: false
          prompt_config:
            jinja2_variables: []
        height: 98
        id: copy_generator_healthy
        position:
          x: 5600
          y: 340
        positionAbsolute:
          x: 5600
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json
            import re

            def parse_copy(text):
                raw = (text or "").strip()
                raw = re.sub(r"^```(?:json)?\s*", "", raw)
                raw = re.sub(r"\s*```$", "", raw)
                try:
                    obj = json.loads(raw)
                except Exception:
                    obj = {"user_message": raw}
                return obj if isinstance(obj, dict) else {"user_message": raw}

            def main(copy_text: str, decision: str, payout_amount: float,
                     manual_review_required: bool, decision_reason: str,
                     decision_log_json: str, order_id: str, user_id: str, claim_id: str):
                copy_obj = parse_copy(copy_text)
                msg = str(copy_obj.get("user_message") or "").strip()
                invalid_terms = ["保证", "绝对", "无条件", "一定通过"]
                copy_valid = bool(msg) and not any(term in msg for term in invalid_terms)
                final_decision = decision
                if not copy_valid:
                    final_decision = "manual_review"
                    manual_review_required = True
                    msg = "您的理赔申请已进入人工复核，我们会结合订单、物流和材料信息进一步确认处理结果。"
                try:
                    log = json.loads(decision_log_json) if decision_log_json else {}
                except Exception:
                    log = {}
                log.update({"copy_valid": copy_valid, "final_decision": final_decision, "user_message": msg})
                return {
                    "stage4_status": "copy_checked",
                    "decision": final_decision,
                    "payout_amount": float(payout_amount or 0),
                    "manual_review_required": bool(manual_review_required),
                    "decision_reason": decision_reason,
                    "user_message": msg,
                    "copy_valid": copy_valid,
                    "decision_log_json": json.dumps(log, ensure_ascii=False),
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id
                }
          code_language: python3
          desc: "校验健康分支文案；失败时直接转人工兜底。"
          outputs:
            stage4_status:
              children: {}
              type: string
            decision:
              children: {}
              type: string
            payout_amount:
              children: {}
              type: number
            manual_review_required:
              children: {}
              type: boolean
            decision_reason:
              children: {}
              type: string
            user_message:
              children: {}
              type: string
            copy_valid:
              children: {}
              type: boolean
            decision_log_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
          selected: false
          title: 文案校验（健康）
          type: code
          variables:
            - value_selector:
                - copy_generator_healthy
                - text
              variable: copy_text
            - value_selector:
                - consensus_healthy
                - decision
              variable: decision
            - value_selector:
                - consensus_healthy
                - payout_amount
              variable: payout_amount
            - value_selector:
                - consensus_healthy
                - manual_review_required
              variable: manual_review_required
            - value_selector:
                - consensus_healthy
                - decision_reason
              variable: decision_reason
            - value_selector:
                - consensus_healthy
                - decision_log_json
              variable: decision_log_json
            - value_selector:
                - consensus_healthy
                - order_id
              variable: order_id
            - value_selector:
                - consensus_healthy
                - user_id
              variable: user_id
            - value_selector:
                - consensus_healthy
                - claim_id
              variable: claim_id
        height: 54
        id: validate_copy_healthy
        position:
          x: 5920
          y: 340
        positionAbsolute:
          x: 5920
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def load(value, default):
                if isinstance(value, (dict, list)):
                    return value
                try:
                    return json.loads(value) if value else default
                except Exception:
                    return default

            def main(claim_result: str, risk_result: str, retrieval_branch: str,
                     retrieval_degradation_band: str, retrieved_context: str,
                     claim_materials: str, risk_materials: str, biz_context: str,
                     biz_stats_json: str, order_id: str, user_id: str, claim_id: str,
                     order_amount: float, degradation_index: float, material_source: str,
                     missing_fields_json: str):
                claim = load(claim_result, {})
                risk = load(risk_result, {})
                claim_hint = str(claim.get("decision_hint", "manual_review"))
                risk_hint = str(risk.get("decision_hint", "manual_review"))
                risk_score = float(risk.get("abuse_risk_score") or 0)
                if claim_hint == "reject" or risk_hint == "reject":
                    decision = "reject"
                elif claim.get("manual_review_required") or risk.get("manual_review_required") or risk_score >= 0.65:
                    decision = "manual_review"
                else:
                    decision = "approve"
                if decision == "approve" and float(degradation_index or 0) > 0.35:
                    decision = "manual_review"
                payout = max(0, min(float(order_amount or 0), float(claim.get("loss_amount") or 0)))
                manual = decision == "manual_review"
                reason = "claim=%s;risk=%s;branch=degraded;risk_score=%.2f" % (claim_hint, risk_hint, risk_score)
                copy_context = {
                    "branch": "degraded",
                    "decision": decision,
                    "payout_amount": payout,
                    "manual_review_required": manual,
                    "decision_reason": reason,
                    "claim": claim,
                    "risk": risk,
                    "retrieved_context": load(retrieved_context, {})
                }
                return {
                    "stage4_status": "consensus_ready",
                    "decision": decision,
                    "payout_amount": payout,
                    "manual_review_required": manual,
                    "decision_reason": reason,
                    "claim_result": json.dumps(claim, ensure_ascii=False),
                    "risk_result": json.dumps(risk, ensure_ascii=False),
                    "copy_context": json.dumps(copy_context, ensure_ascii=False),
                    "decision_log_json": json.dumps(copy_context, ensure_ascii=False),
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "order_amount": float(order_amount or 0),
                    "material_source": material_source,
                    "missing_fields_json": missing_fields_json
                }
          code_language: python3
          desc: "劣化分支合议中心：更保守地融合双助手输出。"
          outputs:
            stage4_status:
              children: {}
              type: string
            decision:
              children: {}
              type: string
            payout_amount:
              children: {}
              type: number
            manual_review_required:
              children: {}
              type: boolean
            decision_reason:
              children: {}
              type: string
            claim_result:
              children: {}
              type: string
            risk_result:
              children: {}
              type: string
            copy_context:
              children: {}
              type: string
            decision_log_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            material_source:
              children: {}
              type: string
            missing_fields_json:
              children: {}
              type: string
          selected: false
          title: 合议中心（劣化）
          type: code
          variables:
            - value_selector:
                - pack_assistants_degraded
                - claim_result
              variable: claim_result
            - value_selector:
                - pack_assistants_degraded
                - risk_result
              variable: risk_result
            - value_selector:
                - pack_assistants_degraded
                - retrieval_branch
              variable: retrieval_branch
            - value_selector:
                - pack_assistants_degraded
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - pack_assistants_degraded
                - retrieved_context
              variable: retrieved_context
            - value_selector:
                - pack_assistants_degraded
                - claim_materials
              variable: claim_materials
            - value_selector:
                - pack_assistants_degraded
                - risk_materials
              variable: risk_materials
            - value_selector:
                - pack_assistants_degraded
                - biz_context
              variable: biz_context
            - value_selector:
                - pack_assistants_degraded
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - pack_assistants_degraded
                - order_id
              variable: order_id
            - value_selector:
                - pack_assistants_degraded
                - user_id
              variable: user_id
            - value_selector:
                - pack_assistants_degraded
                - claim_id
              variable: claim_id
            - value_selector:
                - pack_assistants_degraded
                - order_amount
              variable: order_amount
            - value_selector:
                - pack_assistants_degraded
                - degradation_index
              variable: degradation_index
            - value_selector:
                - pack_assistants_degraded
                - material_source
              variable: material_source
            - value_selector:
                - pack_assistants_degraded
                - missing_fields_json
              variable: missing_fields_json
        height: 54
        id: consensus_degraded
        position:
          x: 5280
          y: 600
        positionAbsolute:
          x: 5280
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def load(value, default):
                if isinstance(value, (dict, list)):
                    return value
                try:
                    return json.loads(value) if value else default
                except Exception:
                    return default

            def main(claim_result: str, risk_result: str, biz_stats_json: str,
                     order_id: str, user_id: str, claim_id: str, order_amount: float,
                     degradation_index: float, material_source: str, missing_fields_json: str,
                     biz_context: str):
                claim = load(claim_result, {})
                risk = load(risk_result, {})
                missing = load(missing_fields_json, [])
                amount = float(order_amount or 0)
                payout = float(claim.get("suggested_amount") or claim.get("loss_amount") or 0)
                payout = max(0, min(amount, payout))
                reasons = ["fast_lane_matched"]
                decision = "approve"
                manual = False
                if missing:
                    decision, manual = "manual_review", True
                    reasons.append("missing_fields")
                if float(degradation_index or 0) > 0.6:
                    decision, manual = "manual_review", True
                    reasons.append("high_degradation")
                copy_context = {
                    "branch": "fast_lane",
                    "decision": decision,
                    "payout_amount": payout,
                    "manual_review_required": manual,
                    "decision_reason": "；".join(reasons),
                    "claim": claim,
                    "risk": risk,
                    "biz_context": biz_context
                }
                return {
                    "stage4_status": "consensus_ready",
                    "decision": decision,
                    "payout_amount": payout,
                    "manual_review_required": manual,
                    "decision_reason": "；".join(reasons),
                    "claim_result": json.dumps(claim, ensure_ascii=False),
                    "risk_result": json.dumps(risk, ensure_ascii=False),
                    "copy_context": json.dumps(copy_context, ensure_ascii=False),
                    "decision_log_json": json.dumps(copy_context, ensure_ascii=False),
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "order_amount": amount,
                    "material_source": material_source,
                    "missing_fields_json": json.dumps(missing, ensure_ascii=False)
                }
          code_language: python3
          desc: "快速通道合议中心：执行动态阈值兜底与最终决策草案。"
          outputs:
            stage4_status:
              children: {}
              type: string
            decision:
              children: {}
              type: string
            payout_amount:
              children: {}
              type: number
            manual_review_required:
              children: {}
              type: boolean
            decision_reason:
              children: {}
              type: string
            claim_result:
              children: {}
              type: string
            risk_result:
              children: {}
              type: string
            copy_context:
              children: {}
              type: string
            decision_log_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            material_source:
              children: {}
              type: string
            missing_fields_json:
              children: {}
              type: string
          selected: false
          title: 合议中心（快速通道）
          type: code
          variables:
            - value_selector:
                - assemble_stage1
                - claim_result
              variable: claim_result
            - value_selector:
                - assemble_stage1
                - risk_result
              variable: risk_result
            - value_selector:
                - assemble_stage1
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - assemble_stage1
                - order_id
              variable: order_id
            - value_selector:
                - assemble_stage1
                - user_id
              variable: user_id
            - value_selector:
                - assemble_stage1
                - claim_id
              variable: claim_id
            - value_selector:
                - assemble_stage1
                - order_amount
              variable: order_amount
            - value_selector:
                - assemble_stage1
                - degradation_index
              variable: degradation_index
            - value_selector:
                - assemble_stage1
                - material_source
              variable: material_source
            - value_selector:
                - assemble_stage1
                - missing_fields_json
              variable: missing_fields_json
            - value_selector:
                - assemble_stage1
                - biz_context
              variable: biz_context
        height: 54
        id: consensus_fast_lane
        position:
          x: 3360
          y: 120
        positionAbsolute:
          x: 3360
          y: 120
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          model:
            provider: langgenius/deepseek/deepseek
            name: deepseek-v4-flash
            mode: chat
            completion_params:
              temperature: 0.3
              thinking: false
          prompt_template:
            - role: system
              text: |
                你是电商理赔客服文案助手。根据合议中心上下文生成面向用户的理赔结果文案。

                合议上下文：
                {{#consensus_fast_lane.copy_context#}}

                输出严格 JSON，不要包裹 markdown：
                {
                  "user_message": "...",
                  "tone": "friendly",
                  "summary": "...",
                  "next_step": "..."
                }

                约束：
                - 语气克制、礼貌、具体。
                - approve 时说明赔付金额和处理时效。
                - manual_review 时说明进入人工复核，不承诺最终结果。
                - reject 时说明核心原因和申诉入口。
                - 不得出现绝对化承诺。
              id: prompt-copy-fast-lane
              edition_type: basic
          context:
            enabled: true
            variable_selector:
              - consensus_fast_lane
              - copy_context
          vision:
            enabled: false
          type: llm
          title: 文案生成（快速通道）
          selected: false
          structured_output_enabled: false
          prompt_config:
            jinja2_variables: []
        height: 98
        id: copy_generator_fast_lane
        position:
          x: 3680
          y: 120
        positionAbsolute:
          x: 3680
          y: 120
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json
            import re

            def parse_copy(text):
                raw = (text or "").strip()
                raw = re.sub(r"^```(?:json)?\s*", "", raw)
                raw = re.sub(r"\s*```$", "", raw)
                try:
                    obj = json.loads(raw)
                except Exception:
                    obj = {"user_message": raw}
                return obj if isinstance(obj, dict) else {"user_message": raw}

            def main(copy_text: str, decision: str, payout_amount: float,
                     manual_review_required: bool, decision_reason: str,
                     decision_log_json: str, order_id: str, user_id: str, claim_id: str):
                copy_obj = parse_copy(copy_text)
                msg = str(copy_obj.get("user_message") or "").strip()
                invalid_terms = ["保证", "绝对", "无条件", "一定通过"]
                copy_valid = bool(msg) and not any(term in msg for term in invalid_terms)
                final_decision = decision
                if not copy_valid:
                    final_decision = "manual_review"
                    manual_review_required = True
                    msg = "您的理赔申请已进入人工复核，我们会结合订单、物流和材料信息进一步确认处理结果。"
                log = {}
                try:
                    log = json.loads(decision_log_json) if decision_log_json else {}
                except Exception:
                    log = {}
                log.update({"copy_valid": copy_valid, "final_decision": final_decision, "user_message": msg})
                return {
                    "stage4_status": "copy_checked",
                    "decision": final_decision,
                    "payout_amount": float(payout_amount or 0),
                    "manual_review_required": bool(manual_review_required),
                    "decision_reason": decision_reason,
                    "user_message": msg,
                    "copy_valid": copy_valid,
                    "decision_log_json": json.dumps(log, ensure_ascii=False),
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id
                }
          code_language: python3
          desc: "校验快速通道文案；失败时直接转人工兜底。"
          outputs:
            stage4_status:
              children: {}
              type: string
            decision:
              children: {}
              type: string
            payout_amount:
              children: {}
              type: number
            manual_review_required:
              children: {}
              type: boolean
            decision_reason:
              children: {}
              type: string
            user_message:
              children: {}
              type: string
            copy_valid:
              children: {}
              type: boolean
            decision_log_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
          selected: false
          title: 文案校验（快速通道）
          type: code
          variables:
            - value_selector:
                - copy_generator_fast_lane
                - text
              variable: copy_text
            - value_selector:
                - consensus_fast_lane
                - decision
              variable: decision
            - value_selector:
                - consensus_fast_lane
                - payout_amount
              variable: payout_amount
            - value_selector:
                - consensus_fast_lane
                - manual_review_required
              variable: manual_review_required
            - value_selector:
                - consensus_fast_lane
                - decision_reason
              variable: decision_reason
            - value_selector:
                - consensus_fast_lane
                - decision_log_json
              variable: decision_log_json
            - value_selector:
                - consensus_fast_lane
                - order_id
              variable: order_id
            - value_selector:
                - consensus_fast_lane
                - user_id
              variable: user_id
            - value_selector:
                - consensus_fast_lane
                - claim_id
              variable: claim_id
        height: 54
        id: validate_copy_fast_lane
        position:
          x: 4000
          y: 120
        positionAbsolute:
          x: 4000
          y: 120
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def load(value, default):
                if isinstance(value, (dict, list)):
                    return value
                try:
                    return json.loads(value) if value else default
                except Exception:
                    return default

            def decide(claim, risk, branch, amount, degradation_index, material_source):
                claim_hint = str(claim.get("decision_hint", "manual_review"))
                risk_hint = str(risk.get("decision_hint", "manual_review"))
                manual = bool(claim.get("manual_review_required") or risk.get("manual_review_required"))
                if claim_hint == "reject" or risk_hint == "reject":
                    decision = "reject"
                elif manual or claim_hint == "manual_review" or risk_hint == "manual_review":
                    decision = "manual_review"
                else:
                    decision = "approve"
                risk_score = float(risk.get("abuse_risk_score") or 0)
                if risk_score >= 0.75 or material_source != "vision_model":
                    decision = "manual_review"
                if branch == "degraded" and float(degradation_index or 0) > 0.5 and decision == "approve":
                    decision = "manual_review"
                payout = max(0, min(float(amount or 0), float(claim.get("loss_amount") or 0)))
                return decision, payout

            def main(claim_result: str, risk_result: str, retrieval_branch: str,
                     retrieval_degradation_band: str, retrieved_context: str,
                     claim_materials: str, risk_materials: str, biz_context: str,
                     biz_stats_json: str, order_id: str, user_id: str, claim_id: str,
                     order_amount: float, degradation_index: float, material_source: str,
                     missing_fields_json: str):
                claim = load(claim_result, {})
                risk = load(risk_result, {})
                decision, payout = decide(claim, risk, retrieval_branch, order_amount, degradation_index, material_source)
                manual = decision == "manual_review"
                reason = "claim=%s;risk=%s;branch=%s" % (
                    claim.get("decision_hint", ""),
                    risk.get("decision_hint", ""),
                    retrieval_branch
                )
                copy_context = {
                    "branch": retrieval_branch,
                    "decision": decision,
                    "payout_amount": payout,
                    "manual_review_required": manual,
                    "decision_reason": reason,
                    "claim": claim,
                    "risk": risk,
                    "retrieved_context": load(retrieved_context, {})
                }
                return {
                    "stage4_status": "consensus_ready",
                    "decision": decision,
                    "payout_amount": payout,
                    "manual_review_required": manual,
                    "decision_reason": reason,
                    "claim_result": json.dumps(claim, ensure_ascii=False),
                    "risk_result": json.dumps(risk, ensure_ascii=False),
                    "copy_context": json.dumps(copy_context, ensure_ascii=False),
                    "decision_log_json": json.dumps(copy_context, ensure_ascii=False),
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "order_amount": float(order_amount or 0),
                    "material_source": material_source,
                    "missing_fields_json": missing_fields_json
                }
          code_language: python3
          desc: "健康分支合议中心：融合定责定损与用户信用助手输出。"
          outputs:
            stage4_status:
              children: {}
              type: string
            decision:
              children: {}
              type: string
            payout_amount:
              children: {}
              type: number
            manual_review_required:
              children: {}
              type: boolean
            decision_reason:
              children: {}
              type: string
            claim_result:
              children: {}
              type: string
            risk_result:
              children: {}
              type: string
            copy_context:
              children: {}
              type: string
            decision_log_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            material_source:
              children: {}
              type: string
            missing_fields_json:
              children: {}
              type: string
          selected: false
          title: 合议中心（健康）
          type: code
          variables:
            - value_selector:
                - pack_assistants_healthy
                - claim_result
              variable: claim_result
            - value_selector:
                - pack_assistants_healthy
                - risk_result
              variable: risk_result
            - value_selector:
                - pack_assistants_healthy
                - retrieval_branch
              variable: retrieval_branch
            - value_selector:
                - pack_assistants_healthy
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - pack_assistants_healthy
                - retrieved_context
              variable: retrieved_context
            - value_selector:
                - pack_assistants_healthy
                - claim_materials
              variable: claim_materials
            - value_selector:
                - pack_assistants_healthy
                - risk_materials
              variable: risk_materials
            - value_selector:
                - pack_assistants_healthy
                - biz_context
              variable: biz_context
            - value_selector:
                - pack_assistants_healthy
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - pack_assistants_healthy
                - order_id
              variable: order_id
            - value_selector:
                - pack_assistants_healthy
                - user_id
              variable: user_id
            - value_selector:
                - pack_assistants_healthy
                - claim_id
              variable: claim_id
            - value_selector:
                - pack_assistants_healthy
                - order_amount
              variable: order_amount
            - value_selector:
                - pack_assistants_healthy
                - degradation_index
              variable: degradation_index
            - value_selector:
                - pack_assistants_healthy
                - material_source
              variable: material_source
            - value_selector:
                - pack_assistants_healthy
                - missing_fields_json
              variable: missing_fields_json
        height: 54
        id: consensus_healthy
        position:
          x: 5280
          y: 340
        positionAbsolute:
          x: 5280
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import re

            def main(user_text: str):
                order_id = None
                user_id = None
                m = re.search(r'\b\d{5,}\b', user_text or "")
                if m:
                    order_id = m.group()
                m = re.search(r'用户[ID号]?\s*[:：]?\s*(\w+)', user_text or "")
                if m:
                    user_id = m.group(1)
                # 个人作品演示用：若未显式输入用户ID，则按测试数据映射补齐，避免样例无法继续。
                if order_id and not user_id:
                    user_id = {
                        "10001": "U001",
                        "10002": "U001",
                        "10003": "U001",
                        "10004": "U001",
                        "10005": "U002",
                        "99999": "U001",
                    }.get(order_id)
                valid = bool(order_id and user_id)
                return {
                    "order_id": order_id or "",
                    "user_id": user_id or "",
                    "valid": valid,
                    "error_message": "" if valid else "订单号或用户ID缺失",
                }
          code_language: python3
          desc: "从用户描述中提取 order_id 与 user_id；测试样例未写用户ID时按订单号映射补齐。"
          outputs:
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            valid:
              children: {}
              type: boolean
            error_message:
              children: {}
              type: string
          selected: false
          title: 提取ID
          type: code
          variables:
            - value_selector:
                - start
                - user_text
              variable: user_text
        height: 54
        id: extract_id
        position:
          x: 400
          y: 320
        positionAbsolute:
          x: 400
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          cases:
            - case_id: 'true'
              conditions:
                - comparison_operator: is
                  id: cond_valid
                  value: "true"
                  varType: boolean
                  variable_selector:
                    - extract_id
                    - valid
              id: 'true'
              logical_operator: and
          desc: "订单号与用户ID均存在时继续；否则直接结束。"
          selected: false
          title: valid?
          type: if-else
        height: 126
        id: check_valid
        position:
          x: 720
          y: 320
        positionAbsolute:
          x: 720
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import hashlib

            def main(order_id: str, user_id: str):
                claim_id = hashlib.sha256(f"{order_id}_{user_id}".encode()).hexdigest()[:16]
                return {"claim_id": claim_id}
          code_language: python3
          desc: "使用 order_id + user_id 生成稳定 claim_id。"
          outputs:
            claim_id:
              children: {}
              type: string
          selected: false
          title: 生成 claim_id
          type: code
          variables:
            - value_selector:
                - extract_id
                - order_id
              variable: order_id
            - value_selector:
                - extract_id
                - user_id
              variable: user_id
        height: 54
        id: generate_claim_id
        position:
          x: 1040
          y: 220
        positionAbsolute:
          x: 1040
          y: 220
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data:
              - id: key-value-state-create-body
                key: ""
                type: text
                value: '{"claim_id":"{{#generate_claim_id.claim_id#}}","status":"processing","ttl":1800}'
            type: json
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"result":"create_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "外部状态机原子创建 processing 状态。失败时返回 create_failed，避免工作流中断。"
          method: post
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 幂等创建
          type: http-request
          url: http://claims-mock:8080/mock/state-machine/create
        height: 98
        id: state_create
        position:
          x: 1360
          y: 220
        positionAbsolute:
          x: 1360
          y: 220
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def main(http_body: str):
                try:
                    body = json.loads(http_body) if isinstance(http_body, str) else (http_body or {})
                except Exception:
                    body = {"result": "create_failed"}
                return {
                    "result": body.get("result", "create_failed"),
                    "message": body.get("message", ""),
                    "status": body.get("status", ""),
                    "claim_id": body.get("claim_id", ""),
                }
          code_language: python3
          desc: "解析状态机创建结果，供重复提交分支判断。"
          outputs:
            result:
              children: {}
              type: string
            message:
              children: {}
              type: string
            status:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
          selected: false
          title: 解析幂等结果
          type: code
          variables:
            - value_selector:
                - state_create
                - body
              variable: http_body
        height: 54
        id: parse_state_create
        position:
          x: 1680
          y: 220
        positionAbsolute:
          x: 1680
          y: 220
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          cases:
            - case_id: 'true'
              conditions:
                - comparison_operator: is
                  id: cond_duplicate
                  value: duplicate
                  varType: string
                  variable_selector:
                    - parse_state_create
                    - result
              id: 'true'
              logical_operator: and
          desc: "状态机返回 duplicate 时直接结束。"
          selected: false
          title: 重复提交?
          type: if-else
        height: 126
        id: check_duplicate
        position:
          x: 2000
          y: 220
        positionAbsolute:
          x: 2000
          y: 220
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"amount":null,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "订单金额 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 订单金额
          type: http-request
          url: "http://claims-mock:8080/mock/order/amount?order_id={{#extract_id.order_id#}}"
        height: 98
        id: http_order_amount
        position:
          x: 2320
          y: -120
        positionAbsolute:
          x: 2320
          y: -120
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"claim_count_12m":null,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "用户近12个月理赔次数 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 用户理赔次数
          type: http-request
          url: "http://claims-mock:8080/mock/user/claim-count-12m?user_id={{#extract_id.user_id#}}"
        height: 98
        id: http_claim_count
        position:
          x: 2320
          y: 20
        positionAbsolute:
          x: 2320
          y: 20
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"static_risk":"unknown","error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "用户静态风险 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 静态风险
          type: http-request
          url: "http://claims-mock:8080/mock/user/static-risk?user_id={{#extract_id.user_id#}}"
        height: 98
        id: http_static_risk
        position:
          x: 2320
          y: 160
        positionAbsolute:
          x: 2320
          y: 160
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"anomaly_type":null,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "物流异常类型 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 物流异常类型
          type: http-request
          url: "http://claims-mock:8080/mock/logistics/anomaly-type?order_id={{#extract_id.order_id#}}"
        height: 98
        id: http_logistics_type
        position:
          x: 2320
          y: 300
        positionAbsolute:
          x: 2320
          y: 300
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"category":null,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "订单品类 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 订单品类
          type: http-request
          url: "http://claims-mock:8080/mock/order/category?order_id={{#extract_id.order_id#}}"
        height: 98
        id: http_order_category
        position:
          x: 2320
          y: 440
        positionAbsolute:
          x: 2320
          y: 440
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"degradation_index":0.5,"smoothed_degradation_index":0.5,"queue_pressure":0.5,"signal_light":"yellow","k_factor":2.0,"max_daily_fast_lane":1,"max_degradation_fast_lane":0.15}'
            - key: status_code
              type: number
              value: 599
          desc: "业务态势与动态阈值配置 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: biz_stats
          type: http-request
          url: http://claims-mock:8080/mock/biz-stats
        height: 98
        id: http_biz_stats
        position:
          x: 2320
          y: 580
        positionAbsolute:
          x: 2320
          y: 580
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data:
              - id: key-value-vision-classify-body
                key: ""
                type: text
                value: '{"file_names":[]}'
            type: json
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"has_order_screenshot":false,"has_logistics_screenshot":false,"source":"vision_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "材料真实性验证 Mock。当前按用户指定传空 file_names，由 Mock 默认返回视觉模型验证通过。"
          method: post
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 图像分类服务
          type: http-request
          url: http://claims-mock:8080/mock/vision/classify
        height: 98
        id: http_vision_classify
        position:
          x: 2320
          y: 720
        positionAbsolute:
          x: 2320
          y: 720
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"fast_lane_count_today":0,"count":0,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "快速通道当日次数查询 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 快速通道次数
          type: http-request
          url: "http://claims-mock:8080/mock/fast-lane/count?user_id={{#extract_id.user_id#}}"
        height: 98
        id: http_fast_lane_count
        position:
          x: 2320
          y: 860
        positionAbsolute:
          x: 2320
          y: 860
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def parse_obj(raw, default=None):
                if raw is None:
                    return default if default is not None else {}
                if isinstance(raw, str):
                    try:
                        return json.loads(raw)
                    except (json.JSONDecodeError, TypeError):
                        return default if default is not None else {}
                return raw

            def to_float(value):
                try:
                    return float(value)
                except (TypeError, ValueError):
                    return None

            def to_int(value, default=0):
                try:
                    return int(value)
                except (TypeError, ValueError):
                    return default

            def to_bool(value):
                if isinstance(value, bool):
                    return value
                if isinstance(value, str):
                    return value.strip().lower() in ["true", "1", "yes", "y"]
                return bool(value)

            def file_names_from_list(file_list):
                files = parse_obj(file_list, [])
                if not isinstance(files, list):
                    return []
                names = []
                for item in files:
                    if isinstance(item, dict):
                        names.append(item.get("name") or item.get("filename") or item.get("display_name") or "")
                    else:
                        names.append(str(item))
                return [n for n in names if n]

            def guess_materials_from_filenames(file_list):
                names = [n.lower() for n in file_names_from_list(file_list)]
                has_order = any("订单" in n or "order" in n for n in names)
                has_logistics = any("物流" in n or "logistics" in n for n in names)
                return has_order, has_logistics, "filename_guess"

            def evaluate_fast_lane(order_amount, claim_count_12m, static_risk,
                                   logistics_type, materials_ok, material_source, signal_light,
                                   degradation_index, fast_lane_count_today,
                                   max_daily_fast_lane, max_degradation_fast_lane):
                cfg = {
                    "max_order_amount": 100.0,
                    "max_claims_12m": 2,
                    "allowed_logistics": ["超时未更新", "错分"],
                    "require_signal_green": True,
                    "require_materials_complete": True,
                    "payout_cap": 30.0
                }
                if order_amount is None or order_amount > cfg["max_order_amount"]:
                    return None
                if claim_count_12m is None or claim_count_12m > cfg["max_claims_12m"]:
                    return None
                if static_risk == "high":
                    return None
                if logistics_type not in cfg["allowed_logistics"]:
                    return None
                if cfg["require_signal_green"] and signal_light != "green":
                    return None
                if cfg["require_materials_complete"] and not materials_ok:
                    return None
                if material_source != "vision_model":
                    return None
                if degradation_index > max_degradation_fast_lane:
                    return None
                if fast_lane_count_today >= max_daily_fast_lane:
                    return None

                payout = min(order_amount, cfg["payout_cap"])
                return {
                    "fast_lane": True,
                    "payout": payout,
                    "reason": "您的订单因物流异常，符合快速赔付标准。"
                }

            def main(user_text, file_list, order_id, user_id, claim_id,
                     order_amount_body, claim_count_body, static_risk_body,
                     logistics_type_body, category_body, biz_stats_body,
                     materials_validation_body, fast_lane_count_body):
                user_text = user_text or ""

                order_amount_obj = parse_obj(order_amount_body, {})
                claim_count_obj = parse_obj(claim_count_body, {})
                static_risk_obj = parse_obj(static_risk_body, {})
                logistics_obj = parse_obj(logistics_type_body, {})
                category_obj = parse_obj(category_body, {})
                biz_stats = parse_obj(biz_stats_body, {})
                materials_validation = parse_obj(materials_validation_body, {})
                fast_lane_count_obj = parse_obj(fast_lane_count_body, {})

                order_amount = to_float(order_amount_obj.get("amount"))
                claim_count_12m = to_int(claim_count_obj.get("claim_count_12m"), default=None)
                static_risk = (static_risk_obj.get("static_risk") or "").lower()
                logistics_type = logistics_obj.get("anomaly_type")
                category = category_obj.get("category")

                material_source = "none"
                has_order_screenshot = False
                has_logistics_screenshot = False
                if isinstance(materials_validation, dict) and materials_validation.get("source") == "vision_model":
                    has_order_screenshot = to_bool(materials_validation.get("has_order_screenshot", False))
                    has_logistics_screenshot = to_bool(materials_validation.get("has_logistics_screenshot", False))
                    material_source = "vision_model"
                else:
                    has_order_screenshot, has_logistics_screenshot, material_source = guess_materials_from_filenames(file_list)

                materials_ok = has_order_screenshot and has_logistics_screenshot

                signal_light = biz_stats.get("signal_light", "yellow")
                degradation_index = to_float(biz_stats.get("smoothed_degradation_index"))
                if degradation_index is None:
                    degradation_index = to_float(biz_stats.get("degradation_index"))
                degradation_index = 0.5 if degradation_index is None else max(0.0, min(degradation_index, 1.0))
                queue_pressure = to_float(biz_stats.get("queue_pressure"))
                queue_pressure = 0.5 if queue_pressure is None else max(0.0, min(queue_pressure, 1.0))
                k_factor = to_float(biz_stats.get("k_factor"))
                k_factor = 2.0 if k_factor is None else k_factor
                max_daily_fast_lane = to_int(biz_stats.get("max_daily_fast_lane"), 1)
                max_degradation_fast_lane = to_float(biz_stats.get("max_degradation_fast_lane"))
                max_degradation_fast_lane = 0.15 if max_degradation_fast_lane is None else max_degradation_fast_lane
                fast_lane_count_today = to_int(
                    fast_lane_count_obj.get("fast_lane_count_today", fast_lane_count_obj.get("count")),
                    0
                )

                fast_lane = evaluate_fast_lane(
                    order_amount, claim_count_12m, static_risk,
                    logistics_type, materials_ok, material_source, signal_light,
                    degradation_index, fast_lane_count_today,
                    max_daily_fast_lane, max_degradation_fast_lane
                )

                amount_range = "small" if order_amount and order_amount <= 50 else (
                    "medium" if order_amount and order_amount <= 200 else "large")
                retrieval_query = json.dumps({
                    "物流异常类型": logistics_type or "未知",
                    "金额区间": amount_range,
                    "商品品类": category or "未知",
                    "用户描述": user_text
                }, ensure_ascii=False)

                biz_context = json.dumps({
                    "signal_light": signal_light,
                    "material_source": material_source
                }, ensure_ascii=False)

                signal_quality_raw = {
                    "has_api_logistics": logistics_type is not None,
                    "has_api_order": order_amount is not None,
                    "has_screenshot_evidence": has_order_screenshot or has_logistics_screenshot,
                    "material_source": material_source,
                    "materials_verified_by_vision": material_source == "vision_model",
                    "data_quality": "partial" if (logistics_type is None or order_amount is None) else "full"
                }

                claim_result = ""
                risk_result = ""
                if fast_lane:
                    claim_result = json.dumps({
                        "claim_valid": True,
                        "claim_reason": fast_lane["reason"],
                        "suggested_amount": fast_lane["payout"],
                        "confidence": "high",
                        "evidence_summary": "快速通道自动判定",
                        "signal_quality": signal_quality_raw
                    }, ensure_ascii=False)
                    risk_result = json.dumps({
                        "risk_level": "low",
                        "risk_reason": "快速通道自动判定低风险",
                        "claim_frequency": 0,
                        "anomaly_signals": [],
                        "recommended_cap": -1,
                        "signal_quality": {
                            "data_completeness": "full",
                            "missing_fields": [],
                            "fast_lane": True
                        }
                    }, ensure_ascii=False)

                missing_fields = []
                if order_amount is None:
                    missing_fields.append("order_amount")
                if claim_count_12m is None:
                    missing_fields.append("claim_count_12m")
                if not logistics_type:
                    missing_fields.append("logistics_type")
                if not category:
                    missing_fields.append("category")

                return {
                    "valid": True,
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "fast_lane": fast_lane is not None,
                    "claim_result": claim_result,
                    "risk_result": risk_result,
                    "retrieval_query": retrieval_query,
                    "retrieval_degradation_band": "degraded" if degradation_index > 0.3 else "healthy",
                    "biz_context": biz_context,
                    "biz_stats_json": json.dumps(biz_stats, ensure_ascii=False),
                    "claim_materials": json.dumps({
                        "order_id": order_id,
                        "order_amount": order_amount,
                        "logistics_type": logistics_type,
                        "category": category,
                        "user_description": user_text,
                        "file_types": {
                            "has_order_screenshot": has_order_screenshot,
                            "has_logistics_screenshot": has_logistics_screenshot,
                            "material_source": material_source
                        }
                    }, ensure_ascii=False),
                    "risk_materials": json.dumps({
                        "user_id": user_id,
                        "order_id": order_id,
                        "claim_count_12m": claim_count_12m,
                        "static_risk": static_risk
                    }, ensure_ascii=False),
                    "order_amount": order_amount or 0,
                    "claim_count_12m": claim_count_12m if claim_count_12m is not None else -1,
                    "static_risk": static_risk or "unknown",
                    "logistics_type": logistics_type or "",
                    "category": category or "",
                    "material_source": material_source,
                    "degradation_index": degradation_index,
                    "queue_pressure": queue_pressure,
                    "k_factor": k_factor,
                    "max_daily_fast_lane": max_daily_fast_lane,
                    "max_degradation_fast_lane": max_degradation_fast_lane,
                    "fast_lane_count_today": fast_lane_count_today,
                    "missing_fields_json": json.dumps(missing_fields, ensure_ascii=False),
                    "stage1_status": "ready"
                }
          code_language: python3
          desc: "汇总8路HTTP结果，生成快速通道裁决或后续知识检索上下文。"
          outputs:
            valid:
              children: {}
              type: boolean
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            fast_lane:
              children: {}
              type: boolean
            claim_result:
              children: {}
              type: string
            risk_result:
              children: {}
              type: string
            retrieval_query:
              children: {}
              type: string
            retrieval_degradation_band:
              children: {}
              type: string
            biz_context:
              children: {}
              type: string
            biz_stats_json:
              children: {}
              type: string
            claim_materials:
              children: {}
              type: string
            risk_materials:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            claim_count_12m:
              children: {}
              type: number
            static_risk:
              children: {}
              type: string
            logistics_type:
              children: {}
              type: string
            category:
              children: {}
              type: string
            material_source:
              children: {}
              type: string
            degradation_index:
              children: {}
              type: number
            queue_pressure:
              children: {}
              type: number
            k_factor:
              children: {}
              type: number
            max_daily_fast_lane:
              children: {}
              type: number
            max_degradation_fast_lane:
              children: {}
              type: number
            fast_lane_count_today:
              children: {}
              type: number
            missing_fields_json:
              children: {}
              type: string
            stage1_status:
              children: {}
              type: string
          selected: false
          title: 判定与组装
          type: code
          variables:
            - value_selector:
                - start
                - user_text
              variable: user_text
            - value_selector:
                - start
                - file_list
              variable: file_list
            - value_selector:
                - extract_id
                - order_id
              variable: order_id
            - value_selector:
                - extract_id
                - user_id
              variable: user_id
            - value_selector:
                - generate_claim_id
                - claim_id
              variable: claim_id
            - value_selector:
                - http_order_amount
                - body
              variable: order_amount_body
            - value_selector:
                - http_claim_count
                - body
              variable: claim_count_body
            - value_selector:
                - http_static_risk
                - body
              variable: static_risk_body
            - value_selector:
                - http_logistics_type
                - body
              variable: logistics_type_body
            - value_selector:
                - http_order_category
                - body
              variable: category_body
            - value_selector:
                - http_biz_stats
                - body
              variable: biz_stats_body
            - value_selector:
                - http_vision_classify
                - body
              variable: materials_validation_body
            - value_selector:
                - http_fast_lane_count
                - body
              variable: fast_lane_count_body
        height: 54
        id: assemble_stage1
        position:
          x: 2720
          y: 320
        positionAbsolute:
          x: 2720
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          cases:
            - case_id: 'true'
              conditions:
                - comparison_operator: is
                  id: cond_fast_lane
                  value: "true"
                  varType: boolean
                  variable_selector:
                    - assemble_stage1
                    - fast_lane
              id: 'true'
              logical_operator: and
          desc: "快速通道通过时跳过知识检索与双助手，直接进入后续合议/安全护栏。"
          selected: false
          title: fast_lane?
          type: if-else
        height: 126
        id: check_fast_lane
        position:
          x: 3040
          y: 320
        positionAbsolute:
          x: 3040
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          cases:
            - case_id: 'true'
              conditions:
                - comparison_operator: is
                  id: cond_retrieval_healthy
                  value: healthy
                  varType: string
                  variable_selector:
                    - assemble_stage1
                    - retrieval_degradation_band
              id: 'true'
              logical_operator: and
          desc: "按环节1产生的 retrieval_degradation_band 选择知识检索策略；healthy 使用高优先级错误模式，其他情况走劣化分支。"
          selected: false
          title: retrieval_degradation_band?
          type: if-else
        height: 126
        id: check_retrieval_band
        position:
          x: 3360
          y: 460
        positionAbsolute:
          x: 3360
          y: 460
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          dataset_ids:
            - 11c2953a-8fe5-40b8-bd08-698034e07305
          desc: "健康分支只检索高优先级错误模式，降低噪声。"
          metadata_filtering_mode: disabled
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.55
            top_k: 4
          query_variable_selector:
            - assemble_stage1
            - retrieval_query
          retrieval_mode: multiple
          selected: false
          title: 错误模式检索（健康）
          type: knowledge-retrieval
          version: '1'
          vision:
            enabled: false
        height: 98
        id: retrieve_error_patterns_healthy
        position:
          x: 3680
          y: 340
        positionAbsolute:
          x: 3680
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          dataset_ids:
            - 9114aeda-736d-4b14-a3ec-9d1b194c2352
          desc: "健康分支检索相似历史案例，供定责定损助手引用。"
          metadata_filtering_mode: disabled
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.7
            top_k: 3
          query_variable_selector:
            - assemble_stage1
            - retrieval_query
          retrieval_mode: multiple
          selected: false
          title: 相似案例检索（健康）
          type: knowledge-retrieval
          version: '1'
          vision:
            enabled: false
        height: 98
        id: retrieve_similar_cases_healthy
        position:
          x: 4000
          y: 340
        positionAbsolute:
          x: 4000
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def normalize(items):
                rows = []
                if not items:
                    return rows
                for item in items[:5]:
                    if not isinstance(item, dict):
                        continue
                    metadata = item.get("metadata") or {}
                    rows.append({
                        "title": item.get("title") or item.get("document_name") or metadata.get("title", ""),
                        "content": item.get("content") or item.get("text") or "",
                        "score": item.get("score") or metadata.get("score"),
                        "metadata": metadata
                    })
                return rows

            def main(error_patterns: list, similar_cases: list, retrieval_query: str,
                     retrieval_degradation_band: str, claim_materials: str, risk_materials: str,
                     biz_context: str, biz_stats_json: str, order_id: str, user_id: str,
                     claim_id: str, order_amount: float, degradation_index: float,
                     material_source: str, missing_fields_json: str):
                error_rows = normalize(error_patterns)
                case_rows = normalize(similar_cases)
                retrieved_context = {
                    "branch": "healthy",
                    "query": retrieval_query,
                    "degradation_band": retrieval_degradation_band,
                    "error_patterns": error_rows,
                    "similar_cases": case_rows
                }
                return {
                    "stage2_status": "retrieval_ready",
                    "retrieval_branch": "healthy",
                    "fast_lane": False,
                    "retrieval_query": retrieval_query,
                    "retrieval_degradation_band": retrieval_degradation_band,
                    "error_patterns_json": json.dumps(error_rows, ensure_ascii=False),
                    "similar_cases_json": json.dumps(case_rows, ensure_ascii=False),
                    "retrieved_context": json.dumps(retrieved_context, ensure_ascii=False),
                    "error_pattern_count": len(error_rows),
                    "similar_case_count": len(case_rows),
                    "claim_materials": claim_materials,
                    "risk_materials": risk_materials,
                    "biz_context": biz_context,
                    "biz_stats_json": biz_stats_json,
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "order_amount": order_amount,
                    "degradation_index": degradation_index,
                    "material_source": material_source,
                    "missing_fields_json": missing_fields_json
                }
          code_language: python3
          desc: "整理健康分支的错误模式与相似案例，形成后续双助手统一上下文。"
          outputs:
            stage2_status:
              children: {}
              type: string
            retrieval_branch:
              children: {}
              type: string
            fast_lane:
              children: {}
              type: boolean
            retrieval_query:
              children: {}
              type: string
            retrieval_degradation_band:
              children: {}
              type: string
            error_patterns_json:
              children: {}
              type: string
            similar_cases_json:
              children: {}
              type: string
            retrieved_context:
              children: {}
              type: string
            error_pattern_count:
              children: {}
              type: number
            similar_case_count:
              children: {}
              type: number
            claim_materials:
              children: {}
              type: string
            risk_materials:
              children: {}
              type: string
            biz_context:
              children: {}
              type: string
            biz_stats_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            degradation_index:
              children: {}
              type: number
            material_source:
              children: {}
              type: string
            missing_fields_json:
              children: {}
              type: string
          selected: false
          title: 整理检索结果（健康）
          type: code
          variables:
            - value_selector:
                - retrieve_error_patterns_healthy
                - result
              variable: error_patterns
            - value_selector:
                - retrieve_similar_cases_healthy
                - result
              variable: similar_cases
            - value_selector:
                - assemble_stage1
                - retrieval_query
              variable: retrieval_query
            - value_selector:
                - assemble_stage1
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - assemble_stage1
                - claim_materials
              variable: claim_materials
            - value_selector:
                - assemble_stage1
                - risk_materials
              variable: risk_materials
            - value_selector:
                - assemble_stage1
                - biz_context
              variable: biz_context
            - value_selector:
                - assemble_stage1
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - assemble_stage1
                - order_id
              variable: order_id
            - value_selector:
                - assemble_stage1
                - user_id
              variable: user_id
            - value_selector:
                - assemble_stage1
                - claim_id
              variable: claim_id
            - value_selector:
                - assemble_stage1
                - order_amount
              variable: order_amount
            - value_selector:
                - assemble_stage1
                - degradation_index
              variable: degradation_index
            - value_selector:
                - assemble_stage1
                - material_source
              variable: material_source
            - value_selector:
                - assemble_stage1
                - missing_fields_json
              variable: missing_fields_json
        height: 54
        id: pack_retrieval_healthy
        position:
          x: 4320
          y: 340
        positionAbsolute:
          x: 4320
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          dataset_ids:
            - 11c2953a-8fe5-40b8-bd08-698034e07305
          desc: "劣化分支放宽错误模式优先级，召回更多潜在风险。"
          metadata_filtering_mode: disabled
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.45
            top_k: 5
          query_variable_selector:
            - assemble_stage1
            - retrieval_query
          retrieval_mode: multiple
          selected: false
          title: 错误模式检索（劣化）
          type: knowledge-retrieval
          version: '1'
          vision:
            enabled: false
        height: 98
        id: retrieve_error_patterns_degraded
        position:
          x: 3680
          y: 600
        positionAbsolute:
          x: 3680
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          dataset_ids:
            - 9114aeda-736d-4b14-a3ec-9d1b194c2352
          desc: "劣化分支检索相似历史案例，供双助手引用。"
          metadata_filtering_mode: disabled
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.7
            top_k: 3
          query_variable_selector:
            - assemble_stage1
            - retrieval_query
          retrieval_mode: multiple
          selected: false
          title: 相似案例检索（劣化）
          type: knowledge-retrieval
          version: '1'
          vision:
            enabled: false
        height: 98
        id: retrieve_similar_cases_degraded
        position:
          x: 4000
          y: 600
        positionAbsolute:
          x: 4000
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def normalize(items):
                rows = []
                if not items:
                    return rows
                for item in items[:6]:
                    if not isinstance(item, dict):
                        continue
                    metadata = item.get("metadata") or {}
                    rows.append({
                        "title": item.get("title") or item.get("document_name") or metadata.get("title", ""),
                        "content": item.get("content") or item.get("text") or "",
                        "score": item.get("score") or metadata.get("score"),
                        "metadata": metadata
                    })
                return rows

            def main(error_patterns: list, similar_cases: list, retrieval_query: str,
                     retrieval_degradation_band: str, claim_materials: str, risk_materials: str,
                     biz_context: str, biz_stats_json: str, order_id: str, user_id: str,
                     claim_id: str, order_amount: float, degradation_index: float,
                     material_source: str, missing_fields_json: str):
                error_rows = normalize(error_patterns)
                case_rows = normalize(similar_cases)
                retrieved_context = {
                    "branch": "degraded",
                    "query": retrieval_query,
                    "degradation_band": retrieval_degradation_band,
                    "error_patterns": error_rows,
                    "similar_cases": case_rows
                }
                return {
                    "stage2_status": "retrieval_ready",
                    "retrieval_branch": "degraded",
                    "fast_lane": False,
                    "retrieval_query": retrieval_query,
                    "retrieval_degradation_band": retrieval_degradation_band,
                    "error_patterns_json": json.dumps(error_rows, ensure_ascii=False),
                    "similar_cases_json": json.dumps(case_rows, ensure_ascii=False),
                    "retrieved_context": json.dumps(retrieved_context, ensure_ascii=False),
                    "error_pattern_count": len(error_rows),
                    "similar_case_count": len(case_rows),
                    "claim_materials": claim_materials,
                    "risk_materials": risk_materials,
                    "biz_context": biz_context,
                    "biz_stats_json": biz_stats_json,
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "order_amount": order_amount,
                    "degradation_index": degradation_index,
                    "material_source": material_source,
                    "missing_fields_json": missing_fields_json
                }
          code_language: python3
          desc: "整理劣化分支的错误模式与相似案例，形成后续双助手统一上下文。"
          outputs:
            stage2_status:
              children: {}
              type: string
            retrieval_branch:
              children: {}
              type: string
            fast_lane:
              children: {}
              type: boolean
            retrieval_query:
              children: {}
              type: string
            retrieval_degradation_band:
              children: {}
              type: string
            error_patterns_json:
              children: {}
              type: string
            similar_cases_json:
              children: {}
              type: string
            retrieved_context:
              children: {}
              type: string
            error_pattern_count:
              children: {}
              type: number
            similar_case_count:
              children: {}
              type: number
            claim_materials:
              children: {}
              type: string
            risk_materials:
              children: {}
              type: string
            biz_context:
              children: {}
              type: string
            biz_stats_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            degradation_index:
              children: {}
              type: number
            material_source:
              children: {}
              type: string
            missing_fields_json:
              children: {}
              type: string
          selected: false
          title: 整理检索结果（劣化）
          type: code
          variables:
            - value_selector:
                - retrieve_error_patterns_degraded
                - result
              variable: error_patterns
            - value_selector:
                - retrieve_similar_cases_degraded
                - result
              variable: similar_cases
            - value_selector:
                - assemble_stage1
                - retrieval_query
              variable: retrieval_query
            - value_selector:
                - assemble_stage1
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - assemble_stage1
                - claim_materials
              variable: claim_materials
            - value_selector:
                - assemble_stage1
                - risk_materials
              variable: risk_materials
            - value_selector:
                - assemble_stage1
                - biz_context
              variable: biz_context
            - value_selector:
                - assemble_stage1
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - assemble_stage1
                - order_id
              variable: order_id
            - value_selector:
                - assemble_stage1
                - user_id
              variable: user_id
            - value_selector:
                - assemble_stage1
                - claim_id
              variable: claim_id
            - value_selector:
                - assemble_stage1
                - order_amount
              variable: order_amount
            - value_selector:
                - assemble_stage1
                - degradation_index
              variable: degradation_index
            - value_selector:
                - assemble_stage1
                - material_source
              variable: material_source
            - value_selector:
                - assemble_stage1
                - missing_fields_json
              variable: missing_fields_json
        height: 54
        id: pack_retrieval_degraded
        position:
          x: 4320
          y: 600
        positionAbsolute:
          x: 4320
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          model:
            provider: langgenius/deepseek/deepseek
            name: deepseek-v4-flash
            mode: chat
            completion_params:
              temperature: 0.2
              thinking: false
          prompt_template:
            - role: system
              text: |
                你是电商理赔定责定损助手。请根据案件材料、知识检索上下文和业务状态，判断责任归属、可赔付金额建议和是否需要人工复核。

                案件材料：
                {{#pack_retrieval_healthy.claim_materials#}}

                知识检索上下文：
                {{#pack_retrieval_healthy.retrieved_context#}}

                业务上下文：
                {{#pack_retrieval_healthy.biz_context#}}

                输出严格 JSON，不要包裹 markdown：
                {
                  "liability": "merchant|platform|logistics|user|unknown",
                  "decision_hint": "approve|reject|manual_review",
                  "loss_amount": 0,
                  "confidence": 0.0,
                  "reason_codes": ["..."],
                  "evidence_summary": "...",
                  "risk_flags": ["..."],
                  "manual_review_required": false
                }

                约束：
                - loss_amount 不得超过订单金额。
                - 证据不足、材料来源低可靠、知识检索命中高风险错误模式时，manual_review_required 必须为 true。
                - confidence 范围为 0 到 1。
                - 只输出 JSON。
              id: prompt-claim-assistant-healthy
              edition_type: basic
          context:
            enabled: true
            variable_selector:
              - pack_retrieval_healthy
              - retrieved_context
          vision:
            enabled: false
          type: llm
          title: 定责定损助手（健康）
          selected: false
          structured_output_enabled: false
          structured_output:
            schema:
              type: object
              properties:
                liability:
                  type: string
                decision_hint:
                  type: string
                loss_amount:
                  type: number
                confidence:
                  type: number
                reason_codes:
                  type: array
                  items:
                    type: string
                evidence_summary:
                  type: string
                risk_flags:
                  type: array
                  items:
                    type: string
                manual_review_required:
                  type: boolean
              required: []
              additionalProperties: false
          prompt_config:
            jinja2_variables: []
        height: 98
        id: claim_assistant_healthy
        position:
          x: 4640
          y: 260
        positionAbsolute:
          x: 4640
          y: 260
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          model:
            provider: langgenius/deepseek/deepseek
            name: deepseek-v4-flash
            mode: chat
            completion_params:
              temperature: 0.2
              thinking: false
          prompt_template:
            - role: system
              text: |
                你是电商理赔用户信用助手。请根据用户理赔历史、静态风险、案件材料和知识检索上下文，评估用户侧风险与是否需要人工复核。

                用户风险材料：
                {{#pack_retrieval_healthy.risk_materials#}}

                案件材料：
                {{#pack_retrieval_healthy.claim_materials#}}

                知识检索上下文：
                {{#pack_retrieval_healthy.retrieved_context#}}

                业务上下文：
                {{#pack_retrieval_healthy.biz_context#}}

                输出严格 JSON，不要包裹 markdown：
                {
                  "credit_level": "low|medium|high",
                  "abuse_risk_score": 0.0,
                  "decision_hint": "approve|reject|manual_review",
                  "risk_reasons": ["..."],
                  "user_profile_summary": "...",
                  "manual_review_required": false
                }

                约束：
                - abuse_risk_score 范围为 0 到 1，越高代表滥用风险越高。
                - 高频理赔、静态高风险、材料低可靠时，不得直接给 approve。
                - 信息不足时优先 manual_review。
                - 只输出 JSON。
              id: prompt-risk-assistant-healthy
              edition_type: basic
          context:
            enabled: true
            variable_selector:
              - pack_retrieval_healthy
              - retrieved_context
          vision:
            enabled: false
          type: llm
          title: 用户信用助手（健康）
          selected: false
          structured_output_enabled: false
          structured_output:
            schema:
              type: object
              properties:
                credit_level:
                  type: string
                abuse_risk_score:
                  type: number
                decision_hint:
                  type: string
                risk_reasons:
                  type: array
                  items:
                    type: string
                user_profile_summary:
                  type: string
                manual_review_required:
                  type: boolean
              required: []
              additionalProperties: false
          prompt_config:
            jinja2_variables: []
        height: 98
        id: risk_assistant_healthy
        position:
          x: 4640
          y: 430
        positionAbsolute:
          x: 4640
          y: 430
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json
            import re

            def parse_json(text, fallback):
                if isinstance(text, dict):
                    return text
                if not text:
                    return fallback
                raw = str(text).strip()
                raw = re.sub(r"^```(?:json)?\s*", "", raw)
                raw = re.sub(r"\s*```$", "", raw)
                try:
                    return json.loads(raw)
                except Exception:
                    m = re.search(r"\{.*\}", raw, re.S)
                    if m:
                        try:
                            return json.loads(m.group(0))
                        except Exception:
                            pass
                fallback["parse_error"] = True
                fallback["raw_text"] = raw[:2000]
                return fallback

            def main(claim_text: str, risk_text: str, stage2_status: str, retrieval_branch: str,
                     retrieval_query: str, retrieval_degradation_band: str, retrieved_context: str,
                     claim_materials: str, risk_materials: str, biz_context: str, biz_stats_json: str,
                     order_id: str, user_id: str, claim_id: str, order_amount: float,
                     degradation_index: float, material_source: str, missing_fields_json: str):
                claim = parse_json(claim_text, {
                    "liability": "unknown",
                    "decision_hint": "manual_review",
                    "loss_amount": 0,
                    "confidence": 0,
                    "reason_codes": ["claim_assistant_parse_failed"],
                    "evidence_summary": "",
                    "risk_flags": [],
                    "manual_review_required": True
                })
                risk = parse_json(risk_text, {
                    "credit_level": "medium",
                    "abuse_risk_score": 0.5,
                    "decision_hint": "manual_review",
                    "risk_reasons": ["risk_assistant_parse_failed"],
                    "user_profile_summary": "",
                    "manual_review_required": True
                })
                manual_review_required = bool(
                    claim.get("manual_review_required") or
                    risk.get("manual_review_required") or
                    claim.get("parse_error") or
                    risk.get("parse_error")
                )
                return {
                    "stage3_status": "assistants_ready",
                    "retrieval_branch": retrieval_branch,
                    "retrieval_query": retrieval_query,
                    "retrieval_degradation_band": retrieval_degradation_band,
                    "claim_result": json.dumps(claim, ensure_ascii=False),
                    "risk_result": json.dumps(risk, ensure_ascii=False),
                    "claim_decision_hint": str(claim.get("decision_hint", "manual_review")),
                    "risk_decision_hint": str(risk.get("decision_hint", "manual_review")),
                    "liability": str(claim.get("liability", "unknown")),
                    "loss_amount": float(claim.get("loss_amount") or 0),
                    "claim_confidence": float(claim.get("confidence") or 0),
                    "credit_level": str(risk.get("credit_level", "medium")),
                    "abuse_risk_score": float(risk.get("abuse_risk_score") or 0.5),
                    "manual_review_required": manual_review_required,
                    "retrieved_context": retrieved_context,
                    "claim_materials": claim_materials,
                    "risk_materials": risk_materials,
                    "biz_context": biz_context,
                    "biz_stats_json": biz_stats_json,
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "order_amount": order_amount,
                    "degradation_index": degradation_index,
                    "material_source": material_source,
                    "missing_fields_json": missing_fields_json
                }
          code_language: python3
          desc: "合并健康分支两个助手的 JSON 输出，提供环节3合议中心输入。"
          outputs:
            stage3_status:
              children: {}
              type: string
            retrieval_branch:
              children: {}
              type: string
            retrieval_query:
              children: {}
              type: string
            retrieval_degradation_band:
              children: {}
              type: string
            claim_result:
              children: {}
              type: string
            risk_result:
              children: {}
              type: string
            claim_decision_hint:
              children: {}
              type: string
            risk_decision_hint:
              children: {}
              type: string
            liability:
              children: {}
              type: string
            loss_amount:
              children: {}
              type: number
            claim_confidence:
              children: {}
              type: number
            credit_level:
              children: {}
              type: string
            abuse_risk_score:
              children: {}
              type: number
            manual_review_required:
              children: {}
              type: boolean
            retrieved_context:
              children: {}
              type: string
            claim_materials:
              children: {}
              type: string
            risk_materials:
              children: {}
              type: string
            biz_context:
              children: {}
              type: string
            biz_stats_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            degradation_index:
              children: {}
              type: number
            material_source:
              children: {}
              type: string
            missing_fields_json:
              children: {}
              type: string
          selected: false
          title: 汇总双助手（健康）
          type: code
          variables:
            - value_selector:
                - claim_assistant_healthy
                - text
              variable: claim_text
            - value_selector:
                - risk_assistant_healthy
                - text
              variable: risk_text
            - value_selector:
                - pack_retrieval_healthy
                - stage2_status
              variable: stage2_status
            - value_selector:
                - pack_retrieval_healthy
                - retrieval_branch
              variable: retrieval_branch
            - value_selector:
                - pack_retrieval_healthy
                - retrieval_query
              variable: retrieval_query
            - value_selector:
                - pack_retrieval_healthy
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - pack_retrieval_healthy
                - retrieved_context
              variable: retrieved_context
            - value_selector:
                - pack_retrieval_healthy
                - claim_materials
              variable: claim_materials
            - value_selector:
                - pack_retrieval_healthy
                - risk_materials
              variable: risk_materials
            - value_selector:
                - pack_retrieval_healthy
                - biz_context
              variable: biz_context
            - value_selector:
                - pack_retrieval_healthy
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - pack_retrieval_healthy
                - order_id
              variable: order_id
            - value_selector:
                - pack_retrieval_healthy
                - user_id
              variable: user_id
            - value_selector:
                - pack_retrieval_healthy
                - claim_id
              variable: claim_id
            - value_selector:
                - pack_retrieval_healthy
                - order_amount
              variable: order_amount
            - value_selector:
                - pack_retrieval_healthy
                - degradation_index
              variable: degradation_index
            - value_selector:
                - pack_retrieval_healthy
                - material_source
              variable: material_source
            - value_selector:
                - pack_retrieval_healthy
                - missing_fields_json
              variable: missing_fields_json
        height: 54
        id: pack_assistants_healthy
        position:
          x: 4960
          y: 340
        positionAbsolute:
          x: 4960
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          model:
            provider: langgenius/deepseek/deepseek
            name: deepseek-v4-flash
            mode: chat
            completion_params:
              temperature: 0.2
              thinking: false
          prompt_template:
            - role: system
              text: |
                你是电商理赔定责定损助手。当前系统处于劣化或高压状态，请更保守地判断责任归属、可赔付金额建议和是否需要人工复核。

                案件材料：
                {{#pack_retrieval_degraded.claim_materials#}}

                知识检索上下文：
                {{#pack_retrieval_degraded.retrieved_context#}}

                业务上下文：
                {{#pack_retrieval_degraded.biz_context#}}

                输出严格 JSON，不要包裹 markdown：
                {
                  "liability": "merchant|platform|logistics|user|unknown",
                  "decision_hint": "approve|reject|manual_review",
                  "loss_amount": 0,
                  "confidence": 0.0,
                  "reason_codes": ["..."],
                  "evidence_summary": "...",
                  "risk_flags": ["..."],
                  "manual_review_required": false
                }

                约束：
                - loss_amount 不得超过订单金额。
                - 劣化分支下，如证据不足或风险冲突，优先 manual_review。
                - confidence 范围为 0 到 1。
                - 只输出 JSON。
              id: prompt-claim-assistant-degraded
              edition_type: basic
          context:
            enabled: true
            variable_selector:
              - pack_retrieval_degraded
              - retrieved_context
          vision:
            enabled: false
          type: llm
          title: 定责定损助手（劣化）
          selected: false
          structured_output_enabled: false
          structured_output:
            schema:
              type: object
              properties:
                liability:
                  type: string
                decision_hint:
                  type: string
                loss_amount:
                  type: number
                confidence:
                  type: number
                reason_codes:
                  type: array
                  items:
                    type: string
                evidence_summary:
                  type: string
                risk_flags:
                  type: array
                  items:
                    type: string
                manual_review_required:
                  type: boolean
              required: []
              additionalProperties: false
          prompt_config:
            jinja2_variables: []
        height: 98
        id: claim_assistant_degraded
        position:
          x: 4640
          y: 540
        positionAbsolute:
          x: 4640
          y: 540
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          model:
            provider: langgenius/deepseek/deepseek
            name: deepseek-v4-flash
            mode: chat
            completion_params:
              temperature: 0.2
              thinking: false
          prompt_template:
            - role: system
              text: |
                你是电商理赔用户信用助手。当前系统处于劣化或高压状态，请更保守地评估用户侧风险与人工复核需求。

                用户风险材料：
                {{#pack_retrieval_degraded.risk_materials#}}

                案件材料：
                {{#pack_retrieval_degraded.claim_materials#}}

                知识检索上下文：
                {{#pack_retrieval_degraded.retrieved_context#}}

                业务上下文：
                {{#pack_retrieval_degraded.biz_context#}}

                输出严格 JSON，不要包裹 markdown：
                {
                  "credit_level": "low|medium|high",
                  "abuse_risk_score": 0.0,
                  "decision_hint": "approve|reject|manual_review",
                  "risk_reasons": ["..."],
                  "user_profile_summary": "...",
                  "manual_review_required": false
                }

                约束：
                - abuse_risk_score 范围为 0 到 1，越高代表滥用风险越高。
                - 劣化分支下，材料低可靠、频繁理赔、静态高风险时优先 manual_review。
                - 只输出 JSON。
              id: prompt-risk-assistant-degraded
              edition_type: basic
          context:
            enabled: true
            variable_selector:
              - pack_retrieval_degraded
              - retrieved_context
          vision:
            enabled: false
          type: llm
          title: 用户信用助手（劣化）
          selected: false
          structured_output_enabled: false
          structured_output:
            schema:
              type: object
              properties:
                credit_level:
                  type: string
                abuse_risk_score:
                  type: number
                decision_hint:
                  type: string
                risk_reasons:
                  type: array
                  items:
                    type: string
                user_profile_summary:
                  type: string
                manual_review_required:
                  type: boolean
              required: []
              additionalProperties: false
          prompt_config:
            jinja2_variables: []
        height: 98
        id: risk_assistant_degraded
        position:
          x: 4640
          y: 710
        positionAbsolute:
          x: 4640
          y: 710
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json
            import re

            def parse_json(text, fallback):
                if isinstance(text, dict):
                    return text
                if not text:
                    return fallback
                raw = str(text).strip()
                raw = re.sub(r"^```(?:json)?\s*", "", raw)
                raw = re.sub(r"\s*```$", "", raw)
                try:
                    return json.loads(raw)
                except Exception:
                    m = re.search(r"\{.*\}", raw, re.S)
                    if m:
                        try:
                            return json.loads(m.group(0))
                        except Exception:
                            pass
                fallback["parse_error"] = True
                fallback["raw_text"] = raw[:2000]
                return fallback

            def main(claim_text: str, risk_text: str, stage2_status: str, retrieval_branch: str,
                     retrieval_query: str, retrieval_degradation_band: str, retrieved_context: str,
                     claim_materials: str, risk_materials: str, biz_context: str, biz_stats_json: str,
                     order_id: str, user_id: str, claim_id: str, order_amount: float,
                     degradation_index: float, material_source: str, missing_fields_json: str):
                claim = parse_json(claim_text, {
                    "liability": "unknown",
                    "decision_hint": "manual_review",
                    "loss_amount": 0,
                    "confidence": 0,
                    "reason_codes": ["claim_assistant_parse_failed"],
                    "evidence_summary": "",
                    "risk_flags": [],
                    "manual_review_required": True
                })
                risk = parse_json(risk_text, {
                    "credit_level": "medium",
                    "abuse_risk_score": 0.5,
                    "decision_hint": "manual_review",
                    "risk_reasons": ["risk_assistant_parse_failed"],
                    "user_profile_summary": "",
                    "manual_review_required": True
                })
                manual_review_required = bool(
                    claim.get("manual_review_required") or
                    risk.get("manual_review_required") or
                    claim.get("parse_error") or
                    risk.get("parse_error")
                )
                return {
                    "stage3_status": "assistants_ready",
                    "retrieval_branch": retrieval_branch,
                    "retrieval_query": retrieval_query,
                    "retrieval_degradation_band": retrieval_degradation_band,
                    "claim_result": json.dumps(claim, ensure_ascii=False),
                    "risk_result": json.dumps(risk, ensure_ascii=False),
                    "claim_decision_hint": str(claim.get("decision_hint", "manual_review")),
                    "risk_decision_hint": str(risk.get("decision_hint", "manual_review")),
                    "liability": str(claim.get("liability", "unknown")),
                    "loss_amount": float(claim.get("loss_amount") or 0),
                    "claim_confidence": float(claim.get("confidence") or 0),
                    "credit_level": str(risk.get("credit_level", "medium")),
                    "abuse_risk_score": float(risk.get("abuse_risk_score") or 0.5),
                    "manual_review_required": manual_review_required,
                    "retrieved_context": retrieved_context,
                    "claim_materials": claim_materials,
                    "risk_materials": risk_materials,
                    "biz_context": biz_context,
                    "biz_stats_json": biz_stats_json,
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "order_amount": order_amount,
                    "degradation_index": degradation_index,
                    "material_source": material_source,
                    "missing_fields_json": missing_fields_json
                }
          code_language: python3
          desc: "合并劣化分支两个助手的 JSON 输出，提供环节3合议中心输入。"
          outputs:
            stage3_status:
              children: {}
              type: string
            retrieval_branch:
              children: {}
              type: string
            retrieval_query:
              children: {}
              type: string
            retrieval_degradation_band:
              children: {}
              type: string
            claim_result:
              children: {}
              type: string
            risk_result:
              children: {}
              type: string
            claim_decision_hint:
              children: {}
              type: string
            risk_decision_hint:
              children: {}
              type: string
            liability:
              children: {}
              type: string
            loss_amount:
              children: {}
              type: number
            claim_confidence:
              children: {}
              type: number
            credit_level:
              children: {}
              type: string
            abuse_risk_score:
              children: {}
              type: number
            manual_review_required:
              children: {}
              type: boolean
            retrieved_context:
              children: {}
              type: string
            claim_materials:
              children: {}
              type: string
            risk_materials:
              children: {}
              type: string
            biz_context:
              children: {}
              type: string
            biz_stats_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            degradation_index:
              children: {}
              type: number
            material_source:
              children: {}
              type: string
            missing_fields_json:
              children: {}
              type: string
          selected: false
          title: 汇总双助手（劣化）
          type: code
          variables:
            - value_selector:
                - claim_assistant_degraded
                - text
              variable: claim_text
            - value_selector:
                - risk_assistant_degraded
                - text
              variable: risk_text
            - value_selector:
                - pack_retrieval_degraded
                - stage2_status
              variable: stage2_status
            - value_selector:
                - pack_retrieval_degraded
                - retrieval_branch
              variable: retrieval_branch
            - value_selector:
                - pack_retrieval_degraded
                - retrieval_query
              variable: retrieval_query
            - value_selector:
                - pack_retrieval_degraded
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - pack_retrieval_degraded
                - retrieved_context
              variable: retrieved_context
            - value_selector:
                - pack_retrieval_degraded
                - claim_materials
              variable: claim_materials
            - value_selector:
                - pack_retrieval_degraded
                - risk_materials
              variable: risk_materials
            - value_selector:
                - pack_retrieval_degraded
                - biz_context
              variable: biz_context
            - value_selector:
                - pack_retrieval_degraded
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - pack_retrieval_degraded
                - order_id
              variable: order_id
            - value_selector:
                - pack_retrieval_degraded
                - user_id
              variable: user_id
            - value_selector:
                - pack_retrieval_degraded
                - claim_id
              variable: claim_id
            - value_selector:
                - pack_retrieval_degraded
                - order_amount
              variable: order_amount
            - value_selector:
                - pack_retrieval_degraded
                - degradation_index
              variable: degradation_index
            - value_selector:
                - pack_retrieval_degraded
                - material_source
              variable: material_source
            - value_selector:
                - pack_retrieval_degraded
                - missing_fields_json
              variable: missing_fields_json
        height: 54
        id: pack_assistants_degraded
        position:
          x: 4960
          y: 600
        positionAbsolute:
          x: 4960
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          model:
            provider: langgenius/deepseek/deepseek
            name: deepseek-v4-flash
            mode: chat
            completion_params:
              temperature: 0.3
              thinking: false
          prompt_template:
            - role: system
              text: |
                你是电商理赔客服文案助手。根据合议中心上下文生成面向用户的理赔结果文案。

                合议上下文：
                {{#consensus_degraded.copy_context#}}

                输出严格 JSON，不要包裹 markdown：
                {
                  "user_message": "...",
                  "tone": "friendly",
                  "summary": "...",
                  "next_step": "..."
                }

                约束：
                - 劣化分支下表达必须更谨慎。
                - approve 时说明赔付金额和处理时效。
                - manual_review 时说明进入人工复核，不承诺最终结果。
                - reject 时说明核心原因和申诉入口。
                - 不得出现绝对化承诺。
              id: prompt-copy-degraded
              edition_type: basic
          context:
            enabled: true
            variable_selector:
              - consensus_degraded
              - copy_context
          vision:
            enabled: false
          type: llm
          title: 文案生成（劣化）
          selected: false
          structured_output_enabled: false
          prompt_config:
            jinja2_variables: []
        height: 98
        id: copy_generator_degraded
        position:
          x: 5600
          y: 600
        positionAbsolute:
          x: 5600
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json
            import re

            def parse_copy(text):
                raw = (text or "").strip()
                raw = re.sub(r"^```(?:json)?\s*", "", raw)
                raw = re.sub(r"\s*```$", "", raw)
                try:
                    obj = json.loads(raw)
                except Exception:
                    obj = {"user_message": raw}
                return obj if isinstance(obj, dict) else {"user_message": raw}

            def main(copy_text: str, decision: str, payout_amount: float,
                     manual_review_required: bool, decision_reason: str,
                     decision_log_json: str, order_id: str, user_id: str, claim_id: str):
                copy_obj = parse_copy(copy_text)
                msg = str(copy_obj.get("user_message") or "").strip()
                invalid_terms = ["保证", "绝对", "无条件", "一定通过"]
                copy_valid = bool(msg) and not any(term in msg for term in invalid_terms)
                final_decision = decision
                if not copy_valid:
                    final_decision = "manual_review"
                    manual_review_required = True
                    msg = "您的理赔申请已进入人工复核，我们会结合订单、物流和材料信息进一步确认处理结果。"
                try:
                    log = json.loads(decision_log_json) if decision_log_json else {}
                except Exception:
                    log = {}
                log.update({"copy_valid": copy_valid, "final_decision": final_decision, "user_message": msg})
                return {
                    "stage4_status": "copy_checked",
                    "decision": final_decision,
                    "payout_amount": float(payout_amount or 0),
                    "manual_review_required": bool(manual_review_required),
                    "decision_reason": decision_reason,
                    "user_message": msg,
                    "copy_valid": copy_valid,
                    "decision_log_json": json.dumps(log, ensure_ascii=False),
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id
                }
          code_language: python3
          desc: "校验劣化分支文案；失败时直接转人工兜底。"
          outputs:
            stage4_status:
              children: {}
              type: string
            decision:
              children: {}
              type: string
            payout_amount:
              children: {}
              type: number
            manual_review_required:
              children: {}
              type: boolean
            decision_reason:
              children: {}
              type: string
            user_message:
              children: {}
              type: string
            copy_valid:
              children: {}
              type: boolean
            decision_log_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
          selected: false
          title: 文案校验（劣化）
          type: code
          variables:
            - value_selector:
                - copy_generator_degraded
                - text
              variable: copy_text
            - value_selector:
                - consensus_degraded
                - decision
              variable: decision
            - value_selector:
                - consensus_degraded
                - payout_amount
              variable: payout_amount
            - value_selector:
                - consensus_degraded
                - manual_review_required
              variable: manual_review_required
            - value_selector:
                - consensus_degraded
                - decision_reason
              variable: decision_reason
            - value_selector:
                - consensus_degraded
                - decision_log_json
              variable: decision_log_json
            - value_selector:
                - consensus_degraded
                - order_id
              variable: order_id
            - value_selector:
                - consensus_degraded
                - user_id
              variable: user_id
            - value_selector:
                - consensus_degraded
                - claim_id
              variable: claim_id
        height: 54
        id: validate_copy_degraded
        position:
          x: 5920
          y: 600
        positionAbsolute:
          x: 5920
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "订单号或用户ID缺失，终止。"
          outputs:
            - value_selector:
                - extract_id
                - valid
              variable: valid
            - value_selector:
                - extract_id
                - error_message
              variable: error_message
            - value_selector:
                - extract_id
                - order_id
              variable: order_id
            - value_selector:
                - extract_id
                - user_id
              variable: user_id
          selected: false
          title: 结束：输入无效
          type: end
        height: 90
        id: end_invalid
        position:
          x: 1040
          y: 480
        positionAbsolute:
          x: 1040
          y: 480
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "重复提交，终止。"
          outputs:
            - value_selector:
                - parse_state_create
                - result
              variable: result
            - value_selector:
                - parse_state_create
                - message
              variable: message
            - value_selector:
                - generate_claim_id
                - claim_id
              variable: claim_id
            - value_selector:
                - extract_id
                - order_id
              variable: order_id
            - value_selector:
                - extract_id
                - user_id
              variable: user_id
          selected: false
          title: 结束：重复提交
          type: end
        height: 90
        id: end_duplicate
        position:
          x: 2320
          y: 1040
        positionAbsolute:
          x: 2320
          y: 1040
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "快速通道完成合议与文案校验，输出最终决策草案。"
          outputs:
            - value_selector:
                - validate_copy_fast_lane
                - stage4_status
              variable: stage4_status
            - value_selector:
                - validate_copy_fast_lane
                - decision
              variable: decision
            - value_selector:
                - validate_copy_fast_lane
                - payout_amount
              variable: payout_amount
            - value_selector:
                - validate_copy_fast_lane
                - manual_review_required
              variable: manual_review_required
            - value_selector:
                - validate_copy_fast_lane
                - decision_reason
              variable: decision_reason
            - value_selector:
                - validate_copy_fast_lane
                - user_message
              variable: user_message
            - value_selector:
                - validate_copy_fast_lane
                - copy_valid
              variable: copy_valid
            - value_selector:
                - validate_copy_fast_lane
                - decision_log_json
              variable: decision_log_json
            - value_selector:
                - validate_copy_fast_lane
                - order_id
              variable: order_id
            - value_selector:
                - validate_copy_fast_lane
                - user_id
              variable: user_id
            - value_selector:
                - validate_copy_fast_lane
                - claim_id
              variable: claim_id
          selected: false
          title: 结束：合议完成（快速通道）
          type: end
        height: 90
        id: end_fast_lane
        position:
          x: 4320
          y: 120
        positionAbsolute:
          x: 4320
          y: 120
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "健康分支完成合议与文案校验，输出最终决策草案。"
          outputs:
            - value_selector:
                - validate_copy_healthy
                - stage4_status
              variable: stage4_status
            - value_selector:
                - validate_copy_healthy
                - decision
              variable: decision
            - value_selector:
                - validate_copy_healthy
                - payout_amount
              variable: payout_amount
            - value_selector:
                - validate_copy_healthy
                - manual_review_required
              variable: manual_review_required
            - value_selector:
                - validate_copy_healthy
                - decision_reason
              variable: decision_reason
            - value_selector:
                - validate_copy_healthy
                - user_message
              variable: user_message
            - value_selector:
                - validate_copy_healthy
                - copy_valid
              variable: copy_valid
            - value_selector:
                - validate_copy_healthy
                - decision_log_json
              variable: decision_log_json
            - value_selector:
                - validate_copy_healthy
                - order_id
              variable: order_id
            - value_selector:
                - validate_copy_healthy
                - user_id
              variable: user_id
            - value_selector:
                - validate_copy_healthy
                - claim_id
              variable: claim_id
          selected: false
          title: 结束：合议完成（健康）
          type: end
        height: 90
        id: end_retrieval_healthy
        position:
          x: 6240
          y: 340
        positionAbsolute:
          x: 6240
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "劣化分支完成合议与文案校验，输出最终决策草案。"
          outputs:
            - value_selector:
                - validate_copy_degraded
                - stage4_status
              variable: stage4_status
            - value_selector:
                - validate_copy_degraded
                - decision
              variable: decision
            - value_selector:
                - validate_copy_degraded
                - payout_amount
              variable: payout_amount
            - value_selector:
                - validate_copy_degraded
                - manual_review_required
              variable: manual_review_required
            - value_selector:
                - validate_copy_degraded
                - decision_reason
              variable: decision_reason
            - value_selector:
                - validate_copy_degraded
                - user_message
              variable: user_message
            - value_selector:
                - validate_copy_degraded
                - copy_valid
              variable: copy_valid
            - value_selector:
                - validate_copy_degraded
                - decision_log_json
              variable: decision_log_json
            - value_selector:
                - validate_copy_degraded
                - order_id
              variable: order_id
            - value_selector:
                - validate_copy_degraded
                - user_id
              variable: user_id
            - value_selector:
                - validate_copy_degraded
                - claim_id
              variable: claim_id
          selected: false
          title: 结束：合议完成（劣化）
          type: end
        height: 90
        id: end_retrieval_degraded
        position:
          x: 6240
          y: 600
        positionAbsolute:
          x: 6240
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

    viewport:
      x: 0
      y: 0
      zoom: 0.6
  rag_pipeline_variables: []





