dify-workflows/claims-main-workflow-stage2.yml
app:
  description: "电商理赔自动处理系统主工作流 Stage 1 + 3.3：数据拉取、幂等创建、并行 Mock 请求、快速通道判定与知识检索节点组。"
  icon: "🧾"
  icon_type: emoji
  icon_background: "#E8F5E9"
  mode: workflow
  name: 理赔主工作流
  use_icon_as_answer_icon: false

kind: app
version: 0.6.0
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .JPG
        - .JPEG
        - .PNG
        - .GIF
        - .WEBP
      allowed_file_types:
        - image
      allowed_file_upload_methods:
        - local_file
        - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 5000
        batch_count_limit: 50
        file_size_limit: 1024
        image_file_size_limit: 1000
        video_file_size_limit: 10000
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 10
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 10
    opening_statement: ""
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: code
        id: start-source-extract_id-target
        source: start
        sourceHandle: source
        target: extract_id
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: if-else
        id: extract_id-source-check_valid-target
        source: extract_id
        sourceHandle: source
        target: check_valid
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: end
        id: check_valid-false-end_invalid-target
        source: check_valid
        sourceHandle: "false"
        target: end_invalid
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: code
        id: check_valid-true-generate_claim_id-target
        source: check_valid
        sourceHandle: "true"
        target: generate_claim_id
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: http-request
        id: generate_claim_id-source-state_create-target
        source: generate_claim_id
        sourceHandle: source
        target: state_create
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: state_create-source-parse_state_create-target
        source: state_create
        sourceHandle: source
        target: parse_state_create
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: if-else
        id: parse_state_create-source-check_duplicate-target
        source: parse_state_create
        sourceHandle: source
        target: check_duplicate
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: end
        id: check_duplicate-true-end_duplicate-target
        source: check_duplicate
        sourceHandle: "true"
        target: end_duplicate
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_order_amount-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_order_amount
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_claim_count-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_claim_count
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_static_risk-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_static_risk
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_logistics_type-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_logistics_type
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_order_category-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_order_category
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_biz_stats-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_biz_stats
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_vision_classify-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_vision_classify
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: http-request
        id: check_duplicate-false-http_fast_lane_count-target
        source: check_duplicate
        sourceHandle: "false"
        target: http_fast_lane_count
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_order_amount-source-assemble_stage1-target
        source: http_order_amount
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_claim_count-source-assemble_stage1-target
        source: http_claim_count
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_static_risk-source-assemble_stage1-target
        source: http_static_risk
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_logistics_type-source-assemble_stage1-target
        source: http_logistics_type
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_order_category-source-assemble_stage1-target
        source: http_order_category
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_biz_stats-source-assemble_stage1-target
        source: http_biz_stats
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_vision_classify-source-assemble_stage1-target
        source: http_vision_classify
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: http-request
          targetType: code
        id: http_fast_lane_count-source-assemble_stage1-target
        source: http_fast_lane_count
        sourceHandle: source
        target: assemble_stage1
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: if-else
        id: assemble_stage1-source-check_fast_lane-target
        source: assemble_stage1
        sourceHandle: source
        target: check_fast_lane
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: end
        id: check_fast_lane-true-end_fast_lane-target
        source: check_fast_lane
        sourceHandle: "true"
        target: end_fast_lane
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: if-else
        id: check_fast_lane-false-check_retrieval_band-target
        source: check_fast_lane
        sourceHandle: "false"
        target: check_retrieval_band
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: knowledge-retrieval
        id: check_retrieval_band-true-retrieve_error_patterns_healthy-target
        source: check_retrieval_band
        sourceHandle: "true"
        target: retrieve_error_patterns_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: knowledge-retrieval
          targetType: knowledge-retrieval
        id: retrieve_error_patterns_healthy-source-retrieve_similar_cases_healthy-target
        source: retrieve_error_patterns_healthy
        sourceHandle: source
        target: retrieve_similar_cases_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: knowledge-retrieval
          targetType: code
        id: retrieve_similar_cases_healthy-source-pack_retrieval_healthy-target
        source: retrieve_similar_cases_healthy
        sourceHandle: source
        target: pack_retrieval_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: end
        id: pack_retrieval_healthy-source-end_retrieval_healthy-target
        source: pack_retrieval_healthy
        sourceHandle: source
        target: end_retrieval_healthy
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: if-else
          targetType: knowledge-retrieval
        id: check_retrieval_band-false-retrieve_error_patterns_degraded-target
        source: check_retrieval_band
        sourceHandle: "false"
        target: retrieve_error_patterns_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: knowledge-retrieval
          targetType: knowledge-retrieval
        id: retrieve_error_patterns_degraded-source-retrieve_similar_cases_degraded-target
        source: retrieve_error_patterns_degraded
        sourceHandle: source
        target: retrieve_similar_cases_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: knowledge-retrieval
          targetType: code
        id: retrieve_similar_cases_degraded-source-pack_retrieval_degraded-target
        source: retrieve_similar_cases_degraded
        sourceHandle: source
        target: pack_retrieval_degraded
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: end
        id: pack_retrieval_degraded-source-end_retrieval_degraded-target
        source: pack_retrieval_degraded
        sourceHandle: source
        target: end_retrieval_degraded
        targetHandle: target
        type: custom
        zIndex: 0

    nodes:
      - data:
          desc: "输入用户理赔描述与材料文件列表。file_list 使用 JSON 字符串，例如 [{\"name\":\"订单截图.png\"}]。"
          selected: false
          title: 开始
          type: start
          variables:
            - label: 用户描述
              max_length: 4096
              options: []
              required: true
              type: paragraph
              variable: user_text
            - label: 材料文件JSON
              max_length: 4096
              options: []
              required: false
              type: paragraph
              variable: file_list
        height: 110
        id: start
        position:
          x: 80
          y: 320
        positionAbsolute:
          x: 80
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import re

            def main(user_text: str):
                order_id = None
                user_id = None
                m = re.search(r'\b\d{5,}\b', user_text or "")
                if m:
                    order_id = m.group()
                m = re.search(r'用户[ID号]?\s*[:：]?\s*(\w+)', user_text or "")
                if m:
                    user_id = m.group(1)
                # 个人作品演示用：若未显式输入用户ID，则按测试数据映射补齐，避免样例无法继续。
                if order_id and not user_id:
                    user_id = {
                        "10001": "U001",
                        "10002": "U001",
                        "10003": "U001",
                        "10004": "U001",
                        "10005": "U002",
                        "99999": "U001",
                    }.get(order_id)
                valid = bool(order_id and user_id)
                return {
                    "order_id": order_id or "",
                    "user_id": user_id or "",
                    "valid": valid,
                    "error_message": "" if valid else "订单号或用户ID缺失",
                }
          code_language: python3
          desc: "从用户描述中提取 order_id 与 user_id；测试样例未写用户ID时按订单号映射补齐。"
          outputs:
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            valid:
              children: {}
              type: boolean
            error_message:
              children: {}
              type: string
          selected: false
          title: 提取ID
          type: code
          variables:
            - value_selector:
                - start
                - user_text
              variable: user_text
        height: 54
        id: extract_id
        position:
          x: 400
          y: 320
        positionAbsolute:
          x: 400
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          cases:
            - case_id: 'true'
              conditions:
                - comparison_operator: is
                  id: cond_valid
                  value: "true"
                  varType: boolean
                  variable_selector:
                    - extract_id
                    - valid
              id: 'true'
              logical_operator: and
          desc: "订单号与用户ID均存在时继续；否则直接结束。"
          selected: false
          title: valid?
          type: if-else
        height: 126
        id: check_valid
        position:
          x: 720
          y: 320
        positionAbsolute:
          x: 720
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import hashlib

            def main(order_id: str, user_id: str):
                claim_id = hashlib.sha256(f"{order_id}_{user_id}".encode()).hexdigest()[:16]
                return {"claim_id": claim_id}
          code_language: python3
          desc: "使用 order_id + user_id 生成稳定 claim_id。"
          outputs:
            claim_id:
              children: {}
              type: string
          selected: false
          title: 生成 claim_id
          type: code
          variables:
            - value_selector:
                - extract_id
                - order_id
              variable: order_id
            - value_selector:
                - extract_id
                - user_id
              variable: user_id
        height: 54
        id: generate_claim_id
        position:
          x: 1040
          y: 220
        positionAbsolute:
          x: 1040
          y: 220
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data:
              - id: key-value-state-create-body
                key: ""
                type: text
                value: '{"claim_id":"{{#generate_claim_id.claim_id#}}","status":"processing","ttl":1800}'
            type: json
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"result":"create_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "外部状态机原子创建 processing 状态。失败时返回 create_failed，避免工作流中断。"
          method: post
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 幂等创建
          type: http-request
          url: http://claims-mock:8080/mock/state-machine/create
        height: 98
        id: state_create
        position:
          x: 1360
          y: 220
        positionAbsolute:
          x: 1360
          y: 220
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def main(http_body: str):
                try:
                    body = json.loads(http_body) if isinstance(http_body, str) else (http_body or {})
                except Exception:
                    body = {"result": "create_failed"}
                return {
                    "result": body.get("result", "create_failed"),
                    "message": body.get("message", ""),
                    "status": body.get("status", ""),
                    "claim_id": body.get("claim_id", ""),
                }
          code_language: python3
          desc: "解析状态机创建结果，供重复提交分支判断。"
          outputs:
            result:
              children: {}
              type: string
            message:
              children: {}
              type: string
            status:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
          selected: false
          title: 解析幂等结果
          type: code
          variables:
            - value_selector:
                - state_create
                - body
              variable: http_body
        height: 54
        id: parse_state_create
        position:
          x: 1680
          y: 220
        positionAbsolute:
          x: 1680
          y: 220
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          cases:
            - case_id: 'true'
              conditions:
                - comparison_operator: is
                  id: cond_duplicate
                  value: duplicate
                  varType: string
                  variable_selector:
                    - parse_state_create
                    - result
              id: 'true'
              logical_operator: and
          desc: "状态机返回 duplicate 时直接结束。"
          selected: false
          title: 重复提交?
          type: if-else
        height: 126
        id: check_duplicate
        position:
          x: 2000
          y: 220
        positionAbsolute:
          x: 2000
          y: 220
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"amount":null,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "订单金额 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 订单金额
          type: http-request
          url: "http://claims-mock:8080/mock/order/amount?order_id={{#extract_id.order_id#}}"
        height: 98
        id: http_order_amount
        position:
          x: 2320
          y: -120
        positionAbsolute:
          x: 2320
          y: -120
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"claim_count_12m":null,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "用户近12个月理赔次数 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 用户理赔次数
          type: http-request
          url: "http://claims-mock:8080/mock/user/claim-count-12m?user_id={{#extract_id.user_id#}}"
        height: 98
        id: http_claim_count
        position:
          x: 2320
          y: 20
        positionAbsolute:
          x: 2320
          y: 20
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"static_risk":"unknown","error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "用户静态风险 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 静态风险
          type: http-request
          url: "http://claims-mock:8080/mock/user/static-risk?user_id={{#extract_id.user_id#}}"
        height: 98
        id: http_static_risk
        position:
          x: 2320
          y: 160
        positionAbsolute:
          x: 2320
          y: 160
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"anomaly_type":null,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "物流异常类型 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 物流异常类型
          type: http-request
          url: "http://claims-mock:8080/mock/logistics/anomaly-type?order_id={{#extract_id.order_id#}}"
        height: 98
        id: http_logistics_type
        position:
          x: 2320
          y: 300
        positionAbsolute:
          x: 2320
          y: 300
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"category":null,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "订单品类 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 订单品类
          type: http-request
          url: "http://claims-mock:8080/mock/order/category?order_id={{#extract_id.order_id#}}"
        height: 98
        id: http_order_category
        position:
          x: 2320
          y: 440
        positionAbsolute:
          x: 2320
          y: 440
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"degradation_index":0.5,"smoothed_degradation_index":0.5,"queue_pressure":0.5,"signal_light":"yellow","k_factor":2.0,"max_daily_fast_lane":1,"max_degradation_fast_lane":0.15}'
            - key: status_code
              type: number
              value: 599
          desc: "业务态势与动态阈值配置 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: biz_stats
          type: http-request
          url: http://claims-mock:8080/mock/biz-stats
        height: 98
        id: http_biz_stats
        position:
          x: 2320
          y: 580
        positionAbsolute:
          x: 2320
          y: 580
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data:
              - id: key-value-vision-classify-body
                key: ""
                type: text
                value: '{"file_names":[]}'
            type: json
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"has_order_screenshot":false,"has_logistics_screenshot":false,"source":"vision_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "材料真实性验证 Mock。当前按用户指定传空 file_names，由 Mock 默认返回视觉模型验证通过。"
          method: post
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 图像分类服务
          type: http-request
          url: http://claims-mock:8080/mock/vision/classify
        height: 98
        id: http_vision_classify
        position:
          x: 2320
          y: 720
        positionAbsolute:
          x: 2320
          y: 720
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: []
            type: none
          headers: ""
          variables: []
          ssl_verify: true
          default_value:
            - key: body
              type: string
              value: '{"fast_lane_count_today":0,"count":0,"error":"request_failed"}'
            - key: status_code
              type: number
              value: 599
          desc: "快速通道当日次数查询 Mock。"
          method: get
          params: ""
          retry_config:
            max_retries: 1
            retry_enabled: true
            retry_interval: 1000
          selected: false
          timeout:
            connect: 5
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 10
            write: 5
          title: 快速通道次数
          type: http-request
          url: "http://claims-mock:8080/mock/fast-lane/count?user_id={{#extract_id.user_id#}}"
        height: 98
        id: http_fast_lane_count
        position:
          x: 2320
          y: 860
        positionAbsolute:
          x: 2320
          y: 860
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def parse_obj(raw, default=None):
                if raw is None:
                    return default if default is not None else {}
                if isinstance(raw, str):
                    try:
                        return json.loads(raw)
                    except (json.JSONDecodeError, TypeError):
                        return default if default is not None else {}
                return raw

            def to_float(value):
                try:
                    return float(value)
                except (TypeError, ValueError):
                    return None

            def to_int(value, default=0):
                try:
                    return int(value)
                except (TypeError, ValueError):
                    return default

            def to_bool(value):
                if isinstance(value, bool):
                    return value
                if isinstance(value, str):
                    return value.strip().lower() in ["true", "1", "yes", "y"]
                return bool(value)

            def file_names_from_list(file_list):
                files = parse_obj(file_list, [])
                if not isinstance(files, list):
                    return []
                names = []
                for item in files:
                    if isinstance(item, dict):
                        names.append(item.get("name") or item.get("filename") or item.get("display_name") or "")
                    else:
                        names.append(str(item))
                return [n for n in names if n]

            def guess_materials_from_filenames(file_list):
                names = [n.lower() for n in file_names_from_list(file_list)]
                has_order = any("订单" in n or "order" in n for n in names)
                has_logistics = any("物流" in n or "logistics" in n for n in names)
                return has_order, has_logistics, "filename_guess"

            def evaluate_fast_lane(order_amount, claim_count_12m, static_risk,
                                   logistics_type, materials_ok, material_source, signal_light,
                                   degradation_index, fast_lane_count_today,
                                   max_daily_fast_lane, max_degradation_fast_lane):
                cfg = {
                    "max_order_amount": 100.0,
                    "max_claims_12m": 2,
                    "allowed_logistics": ["超时未更新", "错分"],
                    "require_signal_green": True,
                    "require_materials_complete": True,
                    "payout_cap": 30.0
                }
                if order_amount is None or order_amount > cfg["max_order_amount"]:
                    return None
                if claim_count_12m is None or claim_count_12m > cfg["max_claims_12m"]:
                    return None
                if static_risk == "high":
                    return None
                if logistics_type not in cfg["allowed_logistics"]:
                    return None
                if cfg["require_signal_green"] and signal_light != "green":
                    return None
                if cfg["require_materials_complete"] and not materials_ok:
                    return None
                if material_source != "vision_model":
                    return None
                if degradation_index > max_degradation_fast_lane:
                    return None
                if fast_lane_count_today >= max_daily_fast_lane:
                    return None

                payout = min(order_amount, cfg["payout_cap"])
                return {
                    "fast_lane": True,
                    "payout": payout,
                    "reason": "您的订单因物流异常，符合快速赔付标准。"
                }

            def main(user_text, file_list, order_id, user_id, claim_id,
                     order_amount_body, claim_count_body, static_risk_body,
                     logistics_type_body, category_body, biz_stats_body,
                     materials_validation_body, fast_lane_count_body):
                user_text = user_text or ""

                order_amount_obj = parse_obj(order_amount_body, {})
                claim_count_obj = parse_obj(claim_count_body, {})
                static_risk_obj = parse_obj(static_risk_body, {})
                logistics_obj = parse_obj(logistics_type_body, {})
                category_obj = parse_obj(category_body, {})
                biz_stats = parse_obj(biz_stats_body, {})
                materials_validation = parse_obj(materials_validation_body, {})
                fast_lane_count_obj = parse_obj(fast_lane_count_body, {})

                order_amount = to_float(order_amount_obj.get("amount"))
                claim_count_12m = to_int(claim_count_obj.get("claim_count_12m"), default=None)
                static_risk = (static_risk_obj.get("static_risk") or "").lower()
                logistics_type = logistics_obj.get("anomaly_type")
                category = category_obj.get("category")

                material_source = "none"
                has_order_screenshot = False
                has_logistics_screenshot = False
                if isinstance(materials_validation, dict) and materials_validation.get("source") == "vision_model":
                    has_order_screenshot = to_bool(materials_validation.get("has_order_screenshot", False))
                    has_logistics_screenshot = to_bool(materials_validation.get("has_logistics_screenshot", False))
                    material_source = "vision_model"
                else:
                    has_order_screenshot, has_logistics_screenshot, material_source = guess_materials_from_filenames(file_list)

                materials_ok = has_order_screenshot and has_logistics_screenshot

                signal_light = biz_stats.get("signal_light", "yellow")
                degradation_index = to_float(biz_stats.get("smoothed_degradation_index"))
                if degradation_index is None:
                    degradation_index = to_float(biz_stats.get("degradation_index"))
                degradation_index = 0.5 if degradation_index is None else max(0.0, min(degradation_index, 1.0))
                queue_pressure = to_float(biz_stats.get("queue_pressure"))
                queue_pressure = 0.5 if queue_pressure is None else max(0.0, min(queue_pressure, 1.0))
                k_factor = to_float(biz_stats.get("k_factor"))
                k_factor = 2.0 if k_factor is None else k_factor
                max_daily_fast_lane = to_int(biz_stats.get("max_daily_fast_lane"), 1)
                max_degradation_fast_lane = to_float(biz_stats.get("max_degradation_fast_lane"))
                max_degradation_fast_lane = 0.15 if max_degradation_fast_lane is None else max_degradation_fast_lane
                fast_lane_count_today = to_int(
                    fast_lane_count_obj.get("fast_lane_count_today", fast_lane_count_obj.get("count")),
                    0
                )

                fast_lane = evaluate_fast_lane(
                    order_amount, claim_count_12m, static_risk,
                    logistics_type, materials_ok, material_source, signal_light,
                    degradation_index, fast_lane_count_today,
                    max_daily_fast_lane, max_degradation_fast_lane
                )

                amount_range = "small" if order_amount and order_amount <= 50 else (
                    "medium" if order_amount and order_amount <= 200 else "large")
                retrieval_query = json.dumps({
                    "物流异常类型": logistics_type or "未知",
                    "金额区间": amount_range,
                    "商品品类": category or "未知",
                    "用户描述": user_text
                }, ensure_ascii=False)

                biz_context = json.dumps({
                    "signal_light": signal_light,
                    "material_source": material_source
                }, ensure_ascii=False)

                signal_quality_raw = {
                    "has_api_logistics": logistics_type is not None,
                    "has_api_order": order_amount is not None,
                    "has_screenshot_evidence": has_order_screenshot or has_logistics_screenshot,
                    "material_source": material_source,
                    "materials_verified_by_vision": material_source == "vision_model",
                    "data_quality": "partial" if (logistics_type is None or order_amount is None) else "full"
                }

                claim_result = ""
                risk_result = ""
                if fast_lane:
                    claim_result = json.dumps({
                        "claim_valid": True,
                        "claim_reason": fast_lane["reason"],
                        "suggested_amount": fast_lane["payout"],
                        "confidence": "high",
                        "evidence_summary": "快速通道自动判定",
                        "signal_quality": signal_quality_raw
                    }, ensure_ascii=False)
                    risk_result = json.dumps({
                        "risk_level": "low",
                        "risk_reason": "快速通道自动判定低风险",
                        "claim_frequency": 0,
                        "anomaly_signals": [],
                        "recommended_cap": -1,
                        "signal_quality": {
                            "data_completeness": "full",
                            "missing_fields": [],
                            "fast_lane": True
                        }
                    }, ensure_ascii=False)

                missing_fields = []
                if order_amount is None:
                    missing_fields.append("order_amount")
                if claim_count_12m is None:
                    missing_fields.append("claim_count_12m")
                if not logistics_type:
                    missing_fields.append("logistics_type")
                if not category:
                    missing_fields.append("category")

                return {
                    "valid": True,
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "fast_lane": fast_lane is not None,
                    "claim_result": claim_result,
                    "risk_result": risk_result,
                    "retrieval_query": retrieval_query,
                    "retrieval_degradation_band": "degraded" if degradation_index > 0.3 else "healthy",
                    "biz_context": biz_context,
                    "biz_stats_json": json.dumps(biz_stats, ensure_ascii=False),
                    "claim_materials": json.dumps({
                        "order_id": order_id,
                        "order_amount": order_amount,
                        "logistics_type": logistics_type,
                        "category": category,
                        "user_description": user_text,
                        "file_types": {
                            "has_order_screenshot": has_order_screenshot,
                            "has_logistics_screenshot": has_logistics_screenshot,
                            "material_source": material_source
                        }
                    }, ensure_ascii=False),
                    "risk_materials": json.dumps({
                        "user_id": user_id,
                        "order_id": order_id,
                        "claim_count_12m": claim_count_12m,
                        "static_risk": static_risk
                    }, ensure_ascii=False),
                    "order_amount": order_amount or 0,
                    "claim_count_12m": claim_count_12m if claim_count_12m is not None else -1,
                    "static_risk": static_risk or "unknown",
                    "logistics_type": logistics_type or "",
                    "category": category or "",
                    "material_source": material_source,
                    "degradation_index": degradation_index,
                    "queue_pressure": queue_pressure,
                    "k_factor": k_factor,
                    "max_daily_fast_lane": max_daily_fast_lane,
                    "max_degradation_fast_lane": max_degradation_fast_lane,
                    "fast_lane_count_today": fast_lane_count_today,
                    "missing_fields_json": json.dumps(missing_fields, ensure_ascii=False),
                    "stage1_status": "ready"
                }
          code_language: python3
          desc: "汇总8路HTTP结果，生成快速通道裁决或后续知识检索上下文。"
          outputs:
            valid:
              children: {}
              type: boolean
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            fast_lane:
              children: {}
              type: boolean
            claim_result:
              children: {}
              type: string
            risk_result:
              children: {}
              type: string
            retrieval_query:
              children: {}
              type: string
            retrieval_degradation_band:
              children: {}
              type: string
            biz_context:
              children: {}
              type: string
            biz_stats_json:
              children: {}
              type: string
            claim_materials:
              children: {}
              type: string
            risk_materials:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            claim_count_12m:
              children: {}
              type: number
            static_risk:
              children: {}
              type: string
            logistics_type:
              children: {}
              type: string
            category:
              children: {}
              type: string
            material_source:
              children: {}
              type: string
            degradation_index:
              children: {}
              type: number
            queue_pressure:
              children: {}
              type: number
            k_factor:
              children: {}
              type: number
            max_daily_fast_lane:
              children: {}
              type: number
            max_degradation_fast_lane:
              children: {}
              type: number
            fast_lane_count_today:
              children: {}
              type: number
            missing_fields_json:
              children: {}
              type: string
            stage1_status:
              children: {}
              type: string
          selected: false
          title: 判定与组装
          type: code
          variables:
            - value_selector:
                - start
                - user_text
              variable: user_text
            - value_selector:
                - start
                - file_list
              variable: file_list
            - value_selector:
                - extract_id
                - order_id
              variable: order_id
            - value_selector:
                - extract_id
                - user_id
              variable: user_id
            - value_selector:
                - generate_claim_id
                - claim_id
              variable: claim_id
            - value_selector:
                - http_order_amount
                - body
              variable: order_amount_body
            - value_selector:
                - http_claim_count
                - body
              variable: claim_count_body
            - value_selector:
                - http_static_risk
                - body
              variable: static_risk_body
            - value_selector:
                - http_logistics_type
                - body
              variable: logistics_type_body
            - value_selector:
                - http_order_category
                - body
              variable: category_body
            - value_selector:
                - http_biz_stats
                - body
              variable: biz_stats_body
            - value_selector:
                - http_vision_classify
                - body
              variable: materials_validation_body
            - value_selector:
                - http_fast_lane_count
                - body
              variable: fast_lane_count_body
        height: 54
        id: assemble_stage1
        position:
          x: 2720
          y: 320
        positionAbsolute:
          x: 2720
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          cases:
            - case_id: 'true'
              conditions:
                - comparison_operator: is
                  id: cond_fast_lane
                  value: "true"
                  varType: boolean
                  variable_selector:
                    - assemble_stage1
                    - fast_lane
              id: 'true'
              logical_operator: and
          desc: "快速通道通过时跳过知识检索与双助手，直接进入后续合议/安全护栏。"
          selected: false
          title: fast_lane?
          type: if-else
        height: 126
        id: check_fast_lane
        position:
          x: 3040
          y: 320
        positionAbsolute:
          x: 3040
          y: 320
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          cases:
            - case_id: 'true'
              conditions:
                - comparison_operator: is
                  id: cond_retrieval_healthy
                  value: healthy
                  varType: string
                  variable_selector:
                    - assemble_stage1
                    - retrieval_degradation_band
              id: 'true'
              logical_operator: and
          desc: "按环节1产生的 retrieval_degradation_band 选择知识检索策略；healthy 使用高优先级错误模式，其他情况走劣化分支。"
          selected: false
          title: retrieval_degradation_band?
          type: if-else
        height: 126
        id: check_retrieval_band
        position:
          x: 3360
          y: 460
        positionAbsolute:
          x: 3360
          y: 460
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          dataset_ids:
            - 11c2953a-8fe5-40b8-bd08-698034e07305
          desc: "健康分支只检索高优先级错误模式，降低噪声。"
          metadata_filtering_mode: disabled
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.55
            top_k: 4
          query_variable_selector:
            - assemble_stage1
            - retrieval_query
          retrieval_mode: multiple
          selected: false
          title: 错误模式检索（健康）
          type: knowledge-retrieval
          version: '1'
          vision:
            enabled: false
        height: 98
        id: retrieve_error_patterns_healthy
        position:
          x: 3680
          y: 340
        positionAbsolute:
          x: 3680
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          dataset_ids:
            - 9114aeda-736d-4b14-a3ec-9d1b194c2352
          desc: "健康分支检索相似历史案例，供定责定损助手引用。"
          metadata_filtering_mode: disabled
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.7
            top_k: 3
          query_variable_selector:
            - assemble_stage1
            - retrieval_query
          retrieval_mode: multiple
          selected: false
          title: 相似案例检索（健康）
          type: knowledge-retrieval
          version: '1'
          vision:
            enabled: false
        height: 98
        id: retrieve_similar_cases_healthy
        position:
          x: 4000
          y: 340
        positionAbsolute:
          x: 4000
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def normalize(items):
                rows = []
                if not items:
                    return rows
                for item in items[:5]:
                    if not isinstance(item, dict):
                        continue
                    metadata = item.get("metadata") or {}
                    rows.append({
                        "title": item.get("title") or item.get("document_name") or metadata.get("title", ""),
                        "content": item.get("content") or item.get("text") or "",
                        "score": item.get("score") or metadata.get("score"),
                        "metadata": metadata
                    })
                return rows

            def main(error_patterns: list, similar_cases: list, retrieval_query: str,
                     retrieval_degradation_band: str, claim_materials: str, risk_materials: str,
                     biz_context: str, biz_stats_json: str, order_id: str, user_id: str,
                     claim_id: str, order_amount: float, degradation_index: float,
                     material_source: str, missing_fields_json: str):
                error_rows = normalize(error_patterns)
                case_rows = normalize(similar_cases)
                retrieved_context = {
                    "branch": "healthy",
                    "query": retrieval_query,
                    "degradation_band": retrieval_degradation_band,
                    "error_patterns": error_rows,
                    "similar_cases": case_rows
                }
                return {
                    "stage2_status": "retrieval_ready",
                    "retrieval_branch": "healthy",
                    "fast_lane": False,
                    "retrieval_query": retrieval_query,
                    "retrieval_degradation_band": retrieval_degradation_band,
                    "error_patterns_json": json.dumps(error_rows, ensure_ascii=False),
                    "similar_cases_json": json.dumps(case_rows, ensure_ascii=False),
                    "retrieved_context": json.dumps(retrieved_context, ensure_ascii=False),
                    "error_pattern_count": len(error_rows),
                    "similar_case_count": len(case_rows),
                    "claim_materials": claim_materials,
                    "risk_materials": risk_materials,
                    "biz_context": biz_context,
                    "biz_stats_json": biz_stats_json,
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "order_amount": order_amount,
                    "degradation_index": degradation_index,
                    "material_source": material_source,
                    "missing_fields_json": missing_fields_json
                }
          code_language: python3
          desc: "整理健康分支的错误模式与相似案例，形成后续双助手统一上下文。"
          outputs:
            stage2_status:
              children: {}
              type: string
            retrieval_branch:
              children: {}
              type: string
            fast_lane:
              children: {}
              type: boolean
            retrieval_query:
              children: {}
              type: string
            retrieval_degradation_band:
              children: {}
              type: string
            error_patterns_json:
              children: {}
              type: string
            similar_cases_json:
              children: {}
              type: string
            retrieved_context:
              children: {}
              type: string
            error_pattern_count:
              children: {}
              type: number
            similar_case_count:
              children: {}
              type: number
            claim_materials:
              children: {}
              type: string
            risk_materials:
              children: {}
              type: string
            biz_context:
              children: {}
              type: string
            biz_stats_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            degradation_index:
              children: {}
              type: number
            material_source:
              children: {}
              type: string
            missing_fields_json:
              children: {}
              type: string
          selected: false
          title: 整理检索结果（健康）
          type: code
          variables:
            - value_selector:
                - retrieve_error_patterns_healthy
                - result
              variable: error_patterns
            - value_selector:
                - retrieve_similar_cases_healthy
                - result
              variable: similar_cases
            - value_selector:
                - assemble_stage1
                - retrieval_query
              variable: retrieval_query
            - value_selector:
                - assemble_stage1
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - assemble_stage1
                - claim_materials
              variable: claim_materials
            - value_selector:
                - assemble_stage1
                - risk_materials
              variable: risk_materials
            - value_selector:
                - assemble_stage1
                - biz_context
              variable: biz_context
            - value_selector:
                - assemble_stage1
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - assemble_stage1
                - order_id
              variable: order_id
            - value_selector:
                - assemble_stage1
                - user_id
              variable: user_id
            - value_selector:
                - assemble_stage1
                - claim_id
              variable: claim_id
            - value_selector:
                - assemble_stage1
                - order_amount
              variable: order_amount
            - value_selector:
                - assemble_stage1
                - degradation_index
              variable: degradation_index
            - value_selector:
                - assemble_stage1
                - material_source
              variable: material_source
            - value_selector:
                - assemble_stage1
                - missing_fields_json
              variable: missing_fields_json
        height: 54
        id: pack_retrieval_healthy
        position:
          x: 4320
          y: 340
        positionAbsolute:
          x: 4320
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          dataset_ids:
            - 11c2953a-8fe5-40b8-bd08-698034e07305
          desc: "劣化分支放宽错误模式优先级，召回更多潜在风险。"
          metadata_filtering_mode: disabled
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.45
            top_k: 5
          query_variable_selector:
            - assemble_stage1
            - retrieval_query
          retrieval_mode: multiple
          selected: false
          title: 错误模式检索（劣化）
          type: knowledge-retrieval
          version: '1'
          vision:
            enabled: false
        height: 98
        id: retrieve_error_patterns_degraded
        position:
          x: 3680
          y: 600
        positionAbsolute:
          x: 3680
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          dataset_ids:
            - 9114aeda-736d-4b14-a3ec-9d1b194c2352
          desc: "劣化分支检索相似历史案例，供双助手引用。"
          metadata_filtering_mode: disabled
          multiple_retrieval_config:
            reranking_enable: false
            score_threshold: 0.7
            top_k: 3
          query_variable_selector:
            - assemble_stage1
            - retrieval_query
          retrieval_mode: multiple
          selected: false
          title: 相似案例检索（劣化）
          type: knowledge-retrieval
          version: '1'
          vision:
            enabled: false
        height: 98
        id: retrieve_similar_cases_degraded
        position:
          x: 4000
          y: 600
        positionAbsolute:
          x: 4000
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def normalize(items):
                rows = []
                if not items:
                    return rows
                for item in items[:6]:
                    if not isinstance(item, dict):
                        continue
                    metadata = item.get("metadata") or {}
                    rows.append({
                        "title": item.get("title") or item.get("document_name") or metadata.get("title", ""),
                        "content": item.get("content") or item.get("text") or "",
                        "score": item.get("score") or metadata.get("score"),
                        "metadata": metadata
                    })
                return rows

            def main(error_patterns: list, similar_cases: list, retrieval_query: str,
                     retrieval_degradation_band: str, claim_materials: str, risk_materials: str,
                     biz_context: str, biz_stats_json: str, order_id: str, user_id: str,
                     claim_id: str, order_amount: float, degradation_index: float,
                     material_source: str, missing_fields_json: str):
                error_rows = normalize(error_patterns)
                case_rows = normalize(similar_cases)
                retrieved_context = {
                    "branch": "degraded",
                    "query": retrieval_query,
                    "degradation_band": retrieval_degradation_band,
                    "error_patterns": error_rows,
                    "similar_cases": case_rows
                }
                return {
                    "stage2_status": "retrieval_ready",
                    "retrieval_branch": "degraded",
                    "fast_lane": False,
                    "retrieval_query": retrieval_query,
                    "retrieval_degradation_band": retrieval_degradation_band,
                    "error_patterns_json": json.dumps(error_rows, ensure_ascii=False),
                    "similar_cases_json": json.dumps(case_rows, ensure_ascii=False),
                    "retrieved_context": json.dumps(retrieved_context, ensure_ascii=False),
                    "error_pattern_count": len(error_rows),
                    "similar_case_count": len(case_rows),
                    "claim_materials": claim_materials,
                    "risk_materials": risk_materials,
                    "biz_context": biz_context,
                    "biz_stats_json": biz_stats_json,
                    "order_id": order_id,
                    "user_id": user_id,
                    "claim_id": claim_id,
                    "order_amount": order_amount,
                    "degradation_index": degradation_index,
                    "material_source": material_source,
                    "missing_fields_json": missing_fields_json
                }
          code_language: python3
          desc: "整理劣化分支的错误模式与相似案例，形成后续双助手统一上下文。"
          outputs:
            stage2_status:
              children: {}
              type: string
            retrieval_branch:
              children: {}
              type: string
            fast_lane:
              children: {}
              type: boolean
            retrieval_query:
              children: {}
              type: string
            retrieval_degradation_band:
              children: {}
              type: string
            error_patterns_json:
              children: {}
              type: string
            similar_cases_json:
              children: {}
              type: string
            retrieved_context:
              children: {}
              type: string
            error_pattern_count:
              children: {}
              type: number
            similar_case_count:
              children: {}
              type: number
            claim_materials:
              children: {}
              type: string
            risk_materials:
              children: {}
              type: string
            biz_context:
              children: {}
              type: string
            biz_stats_json:
              children: {}
              type: string
            order_id:
              children: {}
              type: string
            user_id:
              children: {}
              type: string
            claim_id:
              children: {}
              type: string
            order_amount:
              children: {}
              type: number
            degradation_index:
              children: {}
              type: number
            material_source:
              children: {}
              type: string
            missing_fields_json:
              children: {}
              type: string
          selected: false
          title: 整理检索结果（劣化）
          type: code
          variables:
            - value_selector:
                - retrieve_error_patterns_degraded
                - result
              variable: error_patterns
            - value_selector:
                - retrieve_similar_cases_degraded
                - result
              variable: similar_cases
            - value_selector:
                - assemble_stage1
                - retrieval_query
              variable: retrieval_query
            - value_selector:
                - assemble_stage1
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - assemble_stage1
                - claim_materials
              variable: claim_materials
            - value_selector:
                - assemble_stage1
                - risk_materials
              variable: risk_materials
            - value_selector:
                - assemble_stage1
                - biz_context
              variable: biz_context
            - value_selector:
                - assemble_stage1
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - assemble_stage1
                - order_id
              variable: order_id
            - value_selector:
                - assemble_stage1
                - user_id
              variable: user_id
            - value_selector:
                - assemble_stage1
                - claim_id
              variable: claim_id
            - value_selector:
                - assemble_stage1
                - order_amount
              variable: order_amount
            - value_selector:
                - assemble_stage1
                - degradation_index
              variable: degradation_index
            - value_selector:
                - assemble_stage1
                - material_source
              variable: material_source
            - value_selector:
                - assemble_stage1
                - missing_fields_json
              variable: missing_fields_json
        height: 54
        id: pack_retrieval_degraded
        position:
          x: 4320
          y: 600
        positionAbsolute:
          x: 4320
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "订单号或用户ID缺失，终止。"
          outputs:
            - value_selector:
                - extract_id
                - valid
              variable: valid
            - value_selector:
                - extract_id
                - error_message
              variable: error_message
            - value_selector:
                - extract_id
                - order_id
              variable: order_id
            - value_selector:
                - extract_id
                - user_id
              variable: user_id
          selected: false
          title: 结束：输入无效
          type: end
        height: 90
        id: end_invalid
        position:
          x: 1040
          y: 480
        positionAbsolute:
          x: 1040
          y: 480
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "重复提交，终止。"
          outputs:
            - value_selector:
                - parse_state_create
                - result
              variable: result
            - value_selector:
                - parse_state_create
                - message
              variable: message
            - value_selector:
                - generate_claim_id
                - claim_id
              variable: claim_id
            - value_selector:
                - extract_id
                - order_id
              variable: order_id
            - value_selector:
                - extract_id
                - user_id
              variable: user_id
          selected: false
          title: 结束：重复提交
          type: end
        height: 90
        id: end_duplicate
        position:
          x: 2320
          y: 1040
        positionAbsolute:
          x: 2320
          y: 1040
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "快速通道成立，输出构造好的 claim_result / risk_result，供环节3继续。"
          outputs:
            - value_selector:
                - assemble_stage1
                - stage1_status
              variable: stage1_status
            - value_selector:
                - assemble_stage1
                - fast_lane
              variable: fast_lane
            - value_selector:
                - assemble_stage1
                - claim_result
              variable: claim_result
            - value_selector:
                - assemble_stage1
                - risk_result
              variable: risk_result
            - value_selector:
                - assemble_stage1
                - order_id
              variable: order_id
            - value_selector:
                - assemble_stage1
                - user_id
              variable: user_id
            - value_selector:
                - assemble_stage1
                - claim_id
              variable: claim_id
            - value_selector:
                - assemble_stage1
                - order_amount
              variable: order_amount
            - value_selector:
                - assemble_stage1
                - biz_stats_json
              variable: biz_stats_json
            - value_selector:
                - assemble_stage1
                - material_source
              variable: material_source
            - value_selector:
                - assemble_stage1
                - missing_fields_json
              variable: missing_fields_json
          selected: false
          title: 结束：快速通道
          type: end
        height: 90
        id: end_fast_lane
        position:
          x: 3360
          y: 200
        positionAbsolute:
          x: 3360
          y: 200
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "健康分支知识检索完成，输出双助手所需上下文。"
          outputs:
            - value_selector:
                - pack_retrieval_healthy
                - stage2_status
              variable: stage2_status
            - value_selector:
                - pack_retrieval_healthy
                - retrieval_branch
              variable: retrieval_branch
            - value_selector:
                - pack_retrieval_healthy
                - retrieval_query
              variable: retrieval_query
            - value_selector:
                - pack_retrieval_healthy
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - pack_retrieval_healthy
                - error_pattern_count
              variable: error_pattern_count
            - value_selector:
                - pack_retrieval_healthy
                - similar_case_count
              variable: similar_case_count
            - value_selector:
                - pack_retrieval_healthy
                - retrieved_context
              variable: retrieved_context
            - value_selector:
                - pack_retrieval_healthy
                - claim_materials
              variable: claim_materials
            - value_selector:
                - pack_retrieval_healthy
                - risk_materials
              variable: risk_materials
            - value_selector:
                - pack_retrieval_healthy
                - biz_context
              variable: biz_context
            - value_selector:
                - pack_retrieval_healthy
                - order_id
              variable: order_id
            - value_selector:
                - pack_retrieval_healthy
                - user_id
              variable: user_id
            - value_selector:
                - pack_retrieval_healthy
                - claim_id
              variable: claim_id
          selected: false
          title: 结束：知识检索完成（健康）
          type: end
        height: 90
        id: end_retrieval_healthy
        position:
          x: 4640
          y: 340
        positionAbsolute:
          x: 4640
          y: 340
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: "劣化分支知识检索完成，输出双助手所需上下文。"
          outputs:
            - value_selector:
                - pack_retrieval_degraded
                - stage2_status
              variable: stage2_status
            - value_selector:
                - pack_retrieval_degraded
                - retrieval_branch
              variable: retrieval_branch
            - value_selector:
                - pack_retrieval_degraded
                - retrieval_query
              variable: retrieval_query
            - value_selector:
                - pack_retrieval_degraded
                - retrieval_degradation_band
              variable: retrieval_degradation_band
            - value_selector:
                - pack_retrieval_degraded
                - error_pattern_count
              variable: error_pattern_count
            - value_selector:
                - pack_retrieval_degraded
                - similar_case_count
              variable: similar_case_count
            - value_selector:
                - pack_retrieval_degraded
                - retrieved_context
              variable: retrieved_context
            - value_selector:
                - pack_retrieval_degraded
                - claim_materials
              variable: claim_materials
            - value_selector:
                - pack_retrieval_degraded
                - risk_materials
              variable: risk_materials
            - value_selector:
                - pack_retrieval_degraded
                - biz_context
              variable: biz_context
            - value_selector:
                - pack_retrieval_degraded
                - order_id
              variable: order_id
            - value_selector:
                - pack_retrieval_degraded
                - user_id
              variable: user_id
            - value_selector:
                - pack_retrieval_degraded
                - claim_id
              variable: claim_id
          selected: false
          title: 结束：知识检索完成（劣化）
          type: end
        height: 90
        id: end_retrieval_degraded
        position:
          x: 4640
          y: 600
        positionAbsolute:
          x: 4640
          y: 600
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

    viewport:
      x: 0
      y: 0
      zoom: 0.6
  rag_pipeline_variables: []





